<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Evident{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '@AppBundle/Resources/public/bootstrap/dist/css/bootstrap.min.css'
            '@AppBundle/Resources/public/bootstrap/dist/css/bootstrap-theme.min.css'
            '@AppBundle/Resources/public/fonts/font-awesome/css/font-awesome.min.css'
            '@AppBundle/Resources/public/bootstrap-datepicker/css/bootstrap-datepicker.min.css'
            '@AppBundle/Resources/public/loader/loader.css'
            '@AppBundle/Resources/public/jquery/dist/jquery-ui.css'
            'bundles/app/fancybox/jquery.fancybox.css'
            '@AppBundle/Resources/public/css/main.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets
            output='fonts/fontawesome-webfont.woff2'
            'bundles/app/fonts/font-awesome/fonts/fontawesome-webfont.woff2'
            %}{% endstylesheets %}
        {% endblock %}
        {% block extrastylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    {% set currentUser = null %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% set currentUser = user_service.getUser() %}
    {% endif %}
    <body>
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path("homepage") }}">Evident</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse pull-right">

                    <ul class="nav navbar-nav">
                        {% if currentUser %}
                            {#<li><a href="{{ path("folder.list") }}">Upload Management</a></li>#}
                            <li><a href="{{ path("page.dashboard") }}"></a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
                                    {{ currentUser.userName }}
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="{{ path('page.dashboard') }}">
                                            {{ 'Dashboard' | trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('settings.account') }}">
                                            {{ 'Settings' | trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('user.logout') }}">
                                            {{ 'Logout' | trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                        <li><a href="{{ path("homepage") }}">Login</a></li>
                        <li><a href="{{ path("page.signup") }}">Sign Up</a></li>
                        {% endif %}
                    </ul>

                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    {% for type, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ type }} alert-dismissible text-center mt-20" role="alert" id="general-alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        <!-- Loading screen -->
        <div id="s-loading" class="hidden">
            <div class="loading-inner">
                <div class="loading-cell">
                    {% include 'AppBundle::Components/loader.html.twig' %}
                    <div class="loading-caption">
                    </div>
                    <div class="loading-description">
                    </div>
                    <div class="loading-description-2">
                    </div>
                </div>
            </div>
        </div>
        <!-- Notification -->
        <section id="notification" class="page-notifications hidden" >
            <div class="notification active">
                <p class="notification-content">No files selected</p>
            </div>
        </section>
        <!-- Warning/error modal -->
        {% include 'AppBundle::Components/warningModal.html.twig' %}
        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/jquery/dist/jquery.min.js'
            '@AppBundle/Resources/public/jquery/dist/jquery-ui.js'
            '@AppBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
            '@AppBundle/Resources/public/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
            'bundles/app/fancybox/jquery.fancybox.pack.js'
            '@AppBundle/Resources/public/underscore/underscore-min.js'
            '@AppBundle/Resources/public/js/main.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block extrajavascript %}
        {% endblock %}

    </body>
</html>
