{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container">
        <form class="form-signin" onsubmit="submitLoginForm(event,this)">
            <h2 class="form-signin-heading">Sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <p><a class="grey-link" href="{{ path('page.signup') }}">Don't have an account?</a></p>
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
        </form>
    </div>
{% endblock %}

