input[type="checkbox"]:not(.bg-white) {
    display: none;
}
label.bg-white {
    color:#666;
}
input[type="checkbox"]:not(.bg-white) + label:before {
    border: 1px solid #666666;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
}
input[type="checkbox"]:checked:not(.bg-white) + label:before {
    color: #fff;
    content: "\2713";
    text-align: center;
}
input[type="checkbox"]:checked:not(.bg-white) + label:after {
    font-weight: bold;
}
