<div id="warning-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="warning-title">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="warning-title">Small modal</h4>
            </div>
            <div class="modal-body" id="warning-message"> small message </div>
        </div>
    </div>
</div>