{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container mt-40">
        <div class="col-sm-2">
            {% include 'AppBundle::Settings/settingsMenu.html.twig' %}
        </div>
        <div class="col-sm-10">
            <h3>Create New Agency</h3>
            <div class="row">
                <div class="col-xs-6">
                    <form method="POST">
                        <div class="form-group">
                            <label >Name</label>
                            <input type="text" name="name" class="form-control"  placeholder="Agency Name">
                        </div>
                        <div class="form-group">
                            <label >FTP Server</label>
                            <input type="text" name="ftp_server" class="form-control" aria-describedby="basic-addon1" placeholder="example.com">
                        </div>
                        <div class="form-group">
                            <label >FTP Username</label>
                            <input type="text" name="ftp_user" class="form-control"  placeholder="FTP login username">
                        </div>
                        <div class="form-group">
                            <label >FTP Password</label><br>
                            <input type="password" name="ftp_pass" class="form-control"  placeholder="FTP login password">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Save" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

