{% extends 'AppBundle::base.html.twig' %}
{% block body %}
<div class="container mt-40">
    <div class="col-sm-2">
        {% include 'AppBundle::Settings/settingsMenu.html.twig' %}
    </div>
    <div class="col-sm-10">
        <h5 class="mt-20">Add new
            <a class="grey-link btn-cursor" href="{{ path('settings.agency.create') }}" data-toggle="tooltip" title="Add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
        </h5>
        <div class="row mt-40">
            {% for agency in agencies %}
                <h4>{{ agency.agency.name }}
                    <a class="grey-link btn-cursor" href="{{ path('settings.agency.update',{'id':agency.id}) }}" data-toggle="tooltip" title="Edit agency"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </h4>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

