<h3>Settings</h3>
<ul class="left-menu">
    <li>
        <a class="{% if app.request.attributes.get('_route') == 'settings.account' %}active{% endif %}" href="{{ path('settings.account') }}">Account</a>
    </li>
    <li>
        <a class="{% if app.request.attributes.get('_route') == 'settings.agency' %}active{% endif %}" href="{{ path('settings.agency') }}">Agencies</a>
    </li>
</ul>