{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container mt-40">
        <div class="col-sm-2">
            {% include 'AppBundle::Settings/settingsMenu.html.twig' %}
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-xs-3">
                    <a href="/folders" class="white-link"><h3 class="text-left"><u>Upload</u></h3></a>
                </div>
            </div>
            <div class="row mt-40">
                <div class="col-xs-6">
                    <form method="POST">
                        <div class="form-group">
                            <label >Username</label>
                            <input type="text" name="username" value="{{ user.username }}" class="form-control"  placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label >Email</label>
                            <input type="email" name="email" value="{{ user.email }}" class="form-control"  placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label >First Name</label>
                            <input type="text" name="firstName" value="{{ user.firstName }}" class="form-control"  placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label >Last Name</label>
                            <input type="text" name="lastName" value="{{ user.lastName }}" class="form-control"  placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label >Company</label><br>
                            <span> {{ user.company.name }}</span>
                        </div>
                        <div class="form-group">
                            <label >Invitation </label><br>
                            <span>{{ url('page.signup') }}?company={{ user.company.guid }}</span>
                        </div>
                        <div class="form-group mt-20">
                            <input type="submit" class="btn btn-success" value="Save" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

