<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Admin{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/bootstrap/dist/css/bootstrap.min.css'
        '@AppBundle/Resources/public/bootstrap/dist/css/bootstrap-theme.min.css'
        '@AppBundle/Resources/public/fonts/font-awesome/css/font-awesome.min.css'
        '@AppBundle/Resources/public/bootstrap-datepicker/css/bootstrap-datepicker.min.css'
        '@AppBundle/Resources/public/loader/loader.css'
        '@AppBundle/Resources/public/modules/admin/main_admin.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets
        output='fonts/fontawesome-webfont.woff2'
        'bundles/app/fonts/font-awesome/fonts/fontawesome-webfont.woff2'
        %}{% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
{% set currentUser = null %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% set currentUser = user_service.getUser() %}
{% endif %}
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("homepage") }}">Evident</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">

            <ul class="nav navbar-nav">
                {% if currentUser %}
                    {#<li><a href="{{ path("folder.list") }}">Upload Management</a></li>#}
                    <li><a href="{{ path("page.dashboard") }}"></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
                            {{ currentUser.userName }}
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('page.dashboard') }}">
                                    {{ 'Dashboard' | trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('user.logout') }}">
                                    {{ 'Logout' | trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class=""><a href="{{ path("admin") }}">Users <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ path("admin.company.list") }}">Companies</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<!-- Loading screen -->
<div id="s-loading" class="hidden">
    <div class="loading-inner">
        <div class="loading-cell">
            {% include 'AppBundle::Components/loader.html.twig' %}
            <div class="loading-caption">
            </div>
        </div>
    </div>
</div>
<!-- Notification -->
<section id="notification" class="page-notifications hidden" >
    <div class="notification active">
        <p class="notification-content">No files selected</p>
    </div>
</section>
<!-- Warning/error modal -->
{% include 'AppBundle::Components/warningModal.html.twig' %}
{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/jquery/dist/jquery.min.js'
    '@AppBundle/Resources/public/bootstrap/dist/js/bootstrap.min.js'
    '@AppBundle/Resources/public/bootstrap-datepicker/js/bootstrap-datepicker.min.js'
    '@AppBundle/Resources/public/js/main.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
