{% extends 'AppBundle::Admin/admin_base.html.twig' %}
{% block body %}
    <h1 class="page-header">Dashboard</h1>
    <h2 class="sub-header">Users</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Company</th>
                <th>Internal</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.company.name }}</td>
                    <td>{{ user.internalAccount }}</td>
                    <td><a href="{{ path('admin.user.login.as',{'id':user.id}) }}" class="white-link">login as</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

