{% for member in members %}
    <tr data-member-id="{{ member.id }}">
        <td class="border-right-none">
            <div class="row">
                <div class="col-xs-8">
                    <a class="white-link member-name">{{ member.username }}</a>
                    <a class="grey-link btn-cursor" data-toggle="tooltip" title="Edit member" onclick="openEditMemberModal({{ member.id }})"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </div>
                <div class="col-xs-2">
                    <input type="checkbox" id="member_{{ member.id }}" class="member-select" data-member-id="{{ member.id }}" value=""><label for="member_{{ member.id }}"></label>
                </div>
            </div>
        </td>
        <td><span class="member-custom-id" >{{ member.internalId }}</span></td>
        <td><span class="member-email" >{{ member.email }}</span></td>
        <td>
            {% for role in member.internalRoles %}
                {% if role == 'photographer' %}
                    {% image '@AppBundle/Resources/public/images/miniPhotographer.png' %}
                    <img src="{{ asset_url }}" alt="" width="" class="" />
                    <span class="member-role" >{{ role }}</span>
                    {% endimage %}
                {% elseif role == 'retoucher' %}
                    {% image '@AppBundle/Resources/public/images/miniRetoucher.png' %}
                    <img src="{{ asset_url }}" alt="" width="" class="" />
                    <span class="member-role" >{{ role }}</span>
                    {% endimage %}
                {% else %}
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="member-role" >{{ role }}</span>
                {% endif %}
            {% endfor %}
        </td>
        <td><span>{% if member.enabled %}Active {% else %}Dormant{% endif %}</span></td>
        <td></td>
    </tr>
{% endfor %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/team/team_management.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}