{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    {% block extrastylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/modules/team/team.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <div class="container-fluid ph-none">
        <table class="table table-sm">
            <thead>
            <tr class="border-none">
                <th class="border-none cell-action">
                    <div class="col-xs-8">
                        <h4>Team</h4>
                    </div>
                    <div class="col-xs-2 filter-action">
                        <div class="col-xs-12 text-center" style="padding-top: 42px;">
                            {% image '@AppBundle/Resources/public/images/selectAll.png' %}
                            <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Select / deselect all" onclick="selectAllMembers()"/>
                            {% endimage %}
                        </div>
                    </div>
                    <div class="col-xs-2 action-icons">
                        <div class="inner">
                            <div class="col-xs-12 text-center top">
                                {% image '@AppBundle/Resources/public/images/delete.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Delete member" onclick="deleteMembers()"/>
                                {% endimage %}
                            </div>
                            <div class="clearfix"></div>
                            <hr class="separator">
                            <div class="clearfix"></div>
                            <div class="col-xs-12 text-center bottom">
                                {% image '@AppBundle/Resources/public/images/addImages.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Create member"  onclick="openCreateMemberModal()"/>
                                {% endimage %}
                            </div>
                        </div>
                    </div>
                </th>
                <th class="border-none">ID</th>
                <th class="border-none">Email</th>
                <th class="border-none">Roles</th>
                <th class="border-none">Status</th>
                <th class="border-none"></th>
            </tr>
            </thead>
            <tbody class="folder-list">
            {% include 'AppBundle::Team/membersList.html.twig' %}
            </tbody>
        </table>
    </div>
    {% include 'AppBundle::Team/updateMemberModal.html.twig' %}
{% endblock %}

