<div class="modal fade" id="update-member-modal" tabindex="-1" role="dialog" aria-labelledby="updateMemberModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="warning-title">Create Member</h4>
            </div>
            <div id="m-modal-error" class="alert alert-danger text-center hidden" role="alert"></div>
            <div class="modal-body">
                <div class="row mrg-btm-40">
                    <div class="col-sm-12">
                        <form onsubmit="submitUpdateMember(event,this)">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="hidden" class="input-m-id" name="id" value="">
                                    <input id="" type="text" name="name" class="form-control input-m-name" required placeholder="Member name">
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-sm-10">
                                    <input type="email" placeholder="Email" name="email"  class="form-control input-m-email" data-placement="Email">
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-sm-10">
                                    <input id="" type="number" required name="custom_id" class="form-control input-m-custom-id"  placeholder="Member ID">
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-sm-10">
                                    <input name="role_photographer" type="checkbox" id="role_1" class="bg-white"> <label class="bg-white" for="role_1">Photographer</label><br>
                                    <input name="role_retoucher" type="checkbox" id="role_2" class="bg-white"> <label class="bg-white" for="role_2">Retoucher</label>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-sm-10">
                                    <input name="enabled" type="checkbox" id="enabled" class="bg-white"> <label class="bg-white" for="enabled">Active</label><br>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class=" col-sm-10">
                                    <button type="submit" class="btn btn-success btn-cursor">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
