{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    {% block extrastylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/modules/agency/agency.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <div class="container-fluid ph-none">
        <table class="table table-sm table-fixed">
            <thead>
            <tr class="border-none">
                <th class="border-none cell-action ">
                    <div class="col-sm-8">
                        <h4>Agency</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="text" id="input-file-search" class="form-control search" onkeyup="searchFilesRequest(this)" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 filter-icons">
                        <div class="col-xs-12 text-center top">
                            <div id="dropdown-filter" class="dropdown">
                                {% image '@AppBundle/Resources/public/images/filters.png' %}
                                <img src="{{ asset_url }}" alt="" width="" id="dLabel" class="action-icon filter-icon"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                                {% endimage %}
                                <ul class="dropdown-menu filter-dropdown" aria-labelledby="dLabel">
                                    <li>Photographers</li>
                                    {% for member in members %}
                                        {% if user_service.hasInternalRole(member,'photographer') %}
                                            <li class="option">
                                                <input type="checkbox" class="filter-photographer" data-id="{{ member.id }}" checked id="photographer_{{ member.id }}" onchange="searchFilesRequest()" > <label for="photographer_{{ member.id }}">{{ member.username }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="option">
                                        <input type="checkbox" class="filter-photographer" data-id="0" checked id="photographer_0" onchange="searchFilesRequest()" > <label for="photographer_0">Unknown</label>
                                    </li>
                                    <li>Retouchers</li>
                                    {% for member in members %}
                                        {% if user_service.hasInternalRole(member,'retoucher') %}
                                            <li class="option">
                                                <input type="checkbox" class="filter-retoucher" data-id="{{ member.id }}" checked id="retoucher_{{ member.id }}" onchange="searchFilesRequest()" > <label for="retoucher_{{ member.id }}">{{ member.username }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="option">
                                        <input type="checkbox" class="filter-retoucher" data-id="0" checked id="retoucher_0" onchange="searchFilesRequest()" > <label for="retoucher_0">Unknown</label>
                                    </li>
                                    {#<li>Collection</li>#}
                                    {#{% for collection in collections %}#}
                                    {#<li class="option">#}
                                    {#<input type="checkbox" checked class="filter-collection" data-name="{{ collection }}" id="collection_{{ collection }}" onchange="searchFilesRequest()"> <label for="collection_{{ collection  }}">{{ collection }}</label>#}
                                    {#</li>#}
                                    {#{% endfor %}#}
                                    <li>Date Range</li>
                                    <li class="option date-range">
                                        <input type="text" id="filter-date-from" class="form-control date datepicker" onchange="searchFilesRequest()" value="01/01/2011"> <div class="separator"> - </div>
                                        <input type="text" id="filter-date-to" class="form-control date datepicker" onchange="searchFilesRequest()" value="{{ "now"|date("d/m/Y") }}">
                                    </li>
                                    <li class="mt-10">Sort by</li>
                                    <li class="option order-option active" onclick="updateOrderBy(this,'name')">Name</li>
                                    <li class="option order-option" onclick="updateOrderBy(this,'recent')" >Recently added</li>
                                    <li class="mt-10">File Type</li>
                                    <li class="option order-option" onclick="updateFileType(this,'video')">Display Videos</li>
                                    <li class="option order-option" onclick="updateFileType(this,'photo')">Display Photos</li>
                                    <li><strong><a class="pull-right btn-cursor clr-filters" onclick="clearFilters()">Clear Filters</a></strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="separator">
                        <div class="clearfix"></div>
                        <div class="col-xs-12 text-center bottom">
                            {% image '@AppBundle/Resources/public/images/selectAll.png' %}
                            <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Select / deselect all" onclick="selectAllFolders()"/>
                            {% endimage %}
                        </div>
                    </div>
                    <div class="col-sm-2 action-icons">
                        <div class="inner">
                            <div class="col-xs-12 text-center top">
                                {% image '@AppBundle/Resources/public/images/delete.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Delete image(s)" onclick="deleteFiles()"/>
                                {% endimage %}
                            </div>
                            <div class="clearfix"></div>
                            <hr class="separator">
                            <div class="clearfix"></div>
                            <div class="col-xs-12 text-center bottom">
                                {% image '@AppBundle/Resources/public/images/download.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Download images "  onclick="downloadFiles()"/>
                                {% endimage %}
                            </div>
                        </div>
                    </div>

                </th>
                <th class="border-none img-content"></th>
                {% for userAgency in agencies %}
                    <th class="border-none bg-grey agency-content">
                        <div class="name btn-cursor" onclick="showHideAgencyFilter(event,'dd-agency-{{ userAgency.agency.id }}')">
                            {{ userAgency.agency.name }}
                        </div>
                        <div id="dd-agency-{{ userAgency.agency.id }}" class="dropdown">
                            <span id="aLabel"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                            <ul  class="dropdown-menu dropdown-agency dd-agency-{{ userAgency.agency.id }}" aria-labelledby="aLabel">
                                <li class="">Search by</li>
                                <li class="option" onclick="filterByAgencyStatus('{{ userAgency.agency.id }}','not-sent')">Not sent</li>
                                <li class="option" onclick="filterByAgencyStatus('{{ userAgency.agency.id }}','approved')">Approved</li>
                                <li class="option" onclick="filterByAgencyStatus('{{ userAgency.agency.id }}','rejected')">Rejected</li>
                                <li class="option" onclick="filterByAgencyStatus('{{ userAgency.agency.id }}','pending')">Pending</li>
                                <li><strong><a class="pull-right btn-cursor clr-filters" onclick="clearAgencyFilter()">Clear Filters</a></strong></li>
                                <li class="mt-20">Action</li>
                                <li class="option" onclick="sendFilesToFtp('{{ userAgency.id }}')">Send to FTP</li>
                            </ul>
                        </div>
                    </th>
                {% endfor %}
                {#<th class="border-none bg-grey">#}
                {#<a class="btn btn-cursor white-link pull-right" onclick="openNewAgencyModal()">#}
                {#{% image '@AppBundle/Resources/public/images/addImages.png' %}#}
                {#<img src="{{ asset_url }}" aria-haspopup="true" aria-expanded="false"/>#}
                {#{% endimage %} Add Agency#}
                {#</a>#}
                {#</th>#}
            </tr>
            </thead>
         </table>
        <div class="files-list">
            {% include 'AppBundle::Agency/filesList.html.twig' %}
        </div>
    </div>
    {% include 'AppBundle::Agency/createAgencyModal.html.twig' %}
    {% include 'AppBundle::Agency/statusUpdateModal.html.twig' %}
{% endblock %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/agency/agency.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

