<div class="modal fade" id="create-agency-modal" tabindex="-1" role="dialog" aria-labelledby="createAgencyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="warning-title">Create Agency</h4>
            </div>
            <div id="m-modal-error" class="alert alert-danger text-center hidden" role="alert"></div>
            <div class="modal-body">
                <div class="row mrg-btm-40">
                    <div class="col-sm-12">
                        <form onsubmit="submitCreateNewAgency(event,this)">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="hidden" class="input-f-id" name="id" value="">
                                    <input id="" type="text" name="name" class="form-control input-f-name" required placeholder="Agency title">
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class=" col-sm-10">
                                    <button type="submit" class="btn btn-success btn-cursor">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
