<table class="table table-sm table-files-list">
<tbody>
{% for key,file in files %}
    <tr data-file-id="{{ file.id }}" class="item" data-index="{{ key }}">
        <td style="word-wrap: break-word" class="btn-cursor" onclick="selectFile({{ file.id }})">
            <div class="row" >
                <div class="col-sm-8">
                    <div class="filename">{{ file.name }}</div>
                    <div class="mt-10">
                        {% for fileUser in file.users %}
                            {% if fileUser.role == 'photographer' %}
                                {% image '@AppBundle/Resources/public/images/miniPhotographer.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="" />
                                {% endimage %}
                                {% if fileUser.user %}
                                    {{ fileUser.user.username }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for fileUser in file.users %}
                            {% if fileUser.role == 'retoucher' %}
                                {% image '@AppBundle/Resources/public/images/miniRetoucher.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="" />
                                {% endimage %}
                                {% if fileUser.user %}
                                    {{ fileUser.user.username }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="mt-10">
                        {{ file.folder.name }}
                    </div>
                </div>
                <div class="col-sm-2 text-center">
                    <input type="checkbox" id="file_{{ file.id }}" class="file-select" data-file-id="{{ file.id }}" data-index="{{ key }}" value=""><label for="file_{{ file.id }}"></label>
                </div>
            </div>
        </td>
        <td class="img-content">
            <div class="img-content btn-cursor">
                <img id="file_{{ file.id }}" class="img-responsive main-img" src="{{ image_service.getImageThumb(file) }}" data-src="{{ file.path }}" >
            </div>
        </td>
        {% for userAgency in agencies %}
            <td class="status">
                <div id="dropdown-status" class="dropdown btn-cursor">
                    {#{% image '@AppBundle/Resources/public/images/filters.png' %}#}
                    {#<img src="{{ asset_url }}" alt="" width="" id="dLabel" class=""  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>#}
                    {#{% endimage %}#}
                    {% set agencyStatus = file_service.getAgencyStatus(file,userAgency.agency) %}
                    <span class="file_{{ file.id }}_agency_{{ userAgency.agency.id }} {{ file_service.getLabelClassByStatus(agencyStatus) }} " data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false"><span class="status-icon-inner"></span></span>
                    <ul id="file_{{ file.id }}_agency_{{ userAgency.agency.id }}" class="dropdown-menu status-dropdown" aria-labelledby="dLabel">
                        <li class="option">
                            <a onclick="updateFileAgencyStatus('not-sent','{{ file.id }}','{{ userAgency.agency.id }}')"><div class="status-not-sent"><div class="status-icon-inner"></div></div>Not approved</a>
                        </li>
                        <li class="option">
                            <a onclick="updateFileAgencyStatus('approved','{{ file.id }}','{{ userAgency.agency.id }}')"><div class="status-approved"><div class="status-icon-inner"></div></div>Approved</a>
                        </li>
                        <li class="option">
                            <a onclick="updateFileAgencyStatus('rejected','{{ file.id }}','{{ userAgency.agency.id }}')"><div class="status-rejected"><div class="status-icon-inner"></div></div>Rejected</a>
                        </li>
                        <li class="option">
                            <a onclick="updateFileAgencyStatus('pending','{{ file.id }}','{{ userAgency.agency.id }}')"><div class="status-pending"><div class="status-icon-inner"></div></div> Pending</a>
                        </li>
                    </ul>
                </div>
            </td>
        {% endfor %}
        {#<td ></td>#}
    </tr>
{% endfor %}
            {% if totalPages > 1 %}
                <nav class="pagination-container">
                    <ul class="pagination sm-pagination">
                        {%  if currentPage - 1 != 0 %}
                            <li>
                                <a onclick="changePage({{ currentPage - 1 }})" aria-label="Previous"><span aria-hidden="true">«</span></a>
                            </li>
                        {% endif %}
                        {% for i in 1..totalPages %}
                            {% if currentPage == i %}
                                <li id="page-active" class="active">
                                    <a onclick="changePage({{ i }})"> {{ i }}
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a onclick="changePage({{ i }})">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {%  if currentPage + 1 <= totalPages %}
                            <li>
                                <a onclick="changePage({{ currentPage + 1 }})" aria-label="Next"><span aria-hidden="true">»</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
<input id="current-page" type="hidden" value="{{ currentPage }}" >
<input id="total-pages" type="hidden" value="{{ totalPages }}" >
</tbody>
</table>