<div class="modal fade" id="status-update-modal" tabindex="-1" role="dialog" aria-labelledby="statusUpdateModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="warning-title">Update status to <strong>rejected</strong></h4>
            </div>
            <div id="m-modal-error" class="alert alert-danger text-center hidden" role="alert"></div>
            <div class="modal-body">
                <div class="row mrg-btm-40">
                    <div class="col-sm-12">
                        <form onsubmit="submitUpdateStatus(event,this)">
                            <div class="row">
                                <input type="hidden" id="sum-status" name="status" value="">
                                <input type="hidden" id="sum-files" name="files" value="">
                                <input type="hidden" id="sum-agency" name="agency" value="">
                                <input type="hidden" id="sum-original-file" name="file" value="">
                                <div class="col-sm-10">
                                    <textarea rows="3"  name="description"  class="form-control" placeholder="Describe reasons of rejection"></textarea>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class=" col-sm-10">
                                    <button type="submit" class="btn btn-success btn-cursor">Update Status</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
