.t-type-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #231f20;
    margin: 0;
    font-size: 12px;
}

.t-form-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: #58595B;
    font-size: 12px;
}
.t-form-container.expense .head{
    background-color: #fe4540;
}
.t-form-container.transfer .head{
    background-color:#ff8a33;
}
.t-form-container.income .head{
    background-color: #69aa68;
}
.t-form-container .form {
    padding-top:20px;
}

.t-form-container input, .t-form-container select{
    float: left;
    padding: 2px;
    height: 22px;
    line-height: 1;
    background-color: #605f64;
    border: 1px solid #7b7b7b;
    border-radius: 0;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 5px;
}

.t-form-container textarea {
    float: left;
    padding: 2px;
    line-height: 1;
    background-color: #605f64;
    border: 1px solid #7b7b7b;
    border-radius: 0;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 5px;
    height: 50px;
}

.t-form-container .col-sm-1, .t-form-container .col-sm-2, .t-form-container .col-sm-3 {
    padding-right:5px;
    padding-left:5px;
}

.t-form-container .head div:first-child,.t-form-container .form div:first-child {
    padding-left:15px;
}

.t-form-container textarea {
    resize:none;
}
.child-account{
    margin-left: 20px;
}
.evident-select{
    padding: 2px;
    height: 22px;
    line-height: 1;
    background-color: #605f64;
    border: 1px solid #7b7b7b;
    border-radius: 0;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 5px;
}

.statement-container{
    display: none;
}