body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* CUSTOM CLASSES */

/*Custom Stuff*/
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-none {
    margin-bottom:0;
}
.mt-40 {
    margin-top: 40px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-60 {
    margin-top: 60px;
}
.m-none{
    margin: 0 !important;
}
.btn-cursor {
    cursor:pointer;
}

/* LOADING SCREEN */
#s-loading {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    background-color: #fff;
    opacity: 0.8;
}

#s-loading .loading-inner {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%
}

#s-loading .loading-cell {
    display: table-cell;
    vertical-align: middle;
}

/* FOLDERS */

.cell-action {
    background-color: #dadada;
    vertical-align: middle;
}

.cell-action > div {
    padding-left:0;
    padding-right:0;
}

.cell-action div:nth-child(2):before, .cell-action div:nth-child(2):after {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #969696;
}

.cell-action div:nth-child(2):after {
    width: 100%;
    height: 1px;
    bottom:0;
}

.cell-action div:nth-child(3):before, .cell-action div:nth-child(3):after {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background-color: #969696;
}

.cell-action div:nth-child(3):after {
    width: 1px;
    height: 100%;
    right:0;
    left:inherit;
    margin-right: -1px;
}

.table-folder-view thead tr th:nth-child(1) {
    width: 38%;
}

.table-folder-view thead tr th:nth-child(2) {
    width: 8%;
}