body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #58595B;
    color: #fff;
}
p, span, h1, h2, h3, h4, h5, h6 {
    color: #fff;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* CUSTOM CLASSES */

/*Custom Stuff*/
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-none {
    margin-bottom:0;
}
.mt-40 {
    margin-top: 40px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-none {
    margin-top: 0;
}
.mt-60 {
    margin-top: 60px;
}
.m-none{
    margin: 0 !important;
}
.ph-10 {
    padding-left:20px;
    padding-right:20px;
}
.ph-none {
    padding-left:0;
    padding-right:0;
}
.border-none {
    border:none !important;
}

.border-left-none {
    border-left:none !important;
}
.border-right-none {
    border-right:none !important;
}
.btn-cursor {
    cursor:pointer;
}
input.search {
    background: none;
    border: none;
    color: #fff;
    border-radius: 2px;
}

a.white-link, a.white-link:hover, a.white-link:focus, a.white-link:visited {
    color:#fff;
    padding:0;
}

a.grey-link, a.grey-link:hover, a.grey-link:focus, a.grey-link:visited{
    color:#9d9d9d;
    padding: 0;
}

img.action-icon {
    cursor:pointer;
}

input[type="checkbox"] {
    display: none;
}
label {
    cursor: pointer;
}
input[type="checkbox"] + label:before {
    border: 1px solid #666666;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
}
input[type="checkbox"]:checked + label:before {
    color: #fff;
    content: "\2713";
    text-align: center;
}
input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}

.datepicker {
    color:#000;
}

/* LOADING SCREEN */
#s-loading {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    background-color: #fff;
    opacity: 0.8;
}

#s-loading .loading-inner {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%
}

#s-loading .loading-cell {
    display: table-cell;
    vertical-align: middle;
}

#s-loading .loading-caption {
    font-size: 24px;
    color: #666;
}

/* NOTIFICATION */
.page-notifications {
    position: fixed;
    right: 20px;
    top: 60px;
    width: 300px;
    z-index: 9000;
}

.page-notifications .notification {
    color: #fff;
    background-color: rgba(82,82,93,0.9);
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(10,10,22,0.3);
    padding: 12px 16px;
    position: relative;
    right: -210px;
    visibility: hidden;
    transition-property: right;
    transition-duration: 0.15s;
    -webkit-transition-property: right;
}

.page-notifications .notification.active {
    right: 0;
    visibility: visible;
}

/* MODALS */
.modal h4 {
    color: #666;
}

/* FOLDERS */
/*.cell-action div:nth-child(2):before, .cell-action div:nth-child(2):after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 1px;*/
    /*height: 100%;*/
    /*background-color: #969696;*/
/*}*/

/*.cell-action div:nth-child(2):after {*/
    /*width: 100%;*/
    /*height: 1px;*/
    /*bottom:0;*/
/*}*/

/*.cell-action div:nth-child(3):before, .cell-action div:nth-child(3):after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left:0;*/
    /*width: 100%;*/
    /*height: 1px;*/
    /*margin-top: -1px;*/
    /*background-color: #969696;*/
/*}*/

/*.cell-action div:nth-child(3):after {*/
    /*width: 1px;*/
    /*height: 100%;*/
    /*right:0;*/
    /*left:inherit;*/
    /*margin-right: -1px;*/
/*}*/
ul.filter-dropdown {
    background-color:#1E1C1D;
    padding:10px;
    color:#8e8e8e;
    min-width: 210px;
    left: 30px;
}

ul.filter-dropdown li.option {
    padding-left: 10px;
    color:#8e8e8e;
}

input.date {
    width: 40%;
    float: left;
    padding: 2px;
    height: 22px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #444444;
    border-radius: 0;
    font-size: 12px;
    color:#8e8e8e;
}

.date-range .separator {
    float:left;
}

.table.folders-table {
    margin-top: 11px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom:1px solid #636363;
    padding-left:15px;
    border-top:none;
    border-right:1px solid #444444;
}

.table-sm thead tr th:nth-child(1) {
    width: 25%;
    background-color:#414143;
    padding-left: 15px;
}

.table-sm thead tr th:nth-child(2) {
    background-color: #6D6E72;
}

.table-sm thead tr th:nth-child(3) {
    background-color: #6D6E72;
}

.table-sm thead tr th:nth-child(4) {
    background-color: #6D6E72;
}

.table-sm thead tr th:nth-child(5) {
    background-color: #6D6E72;
}

.table-sm thead tr th:nth-child(6) {
    background-color: #6D6E72;
}

.action-icons {
    background-color: #818181;
    padding-right: 0;
    padding-left: 0;
}

.action-icons .top {
    padding: 7px 0;
}

.action-icons .bottom {
    padding: 7px 0;
}

.action-icons .separator {
    width: 21px;
    margin: 0 auto;
    text-align: center;
    border-color: #3f3f3f;
}

.filter-icons {
    padding-right: 0;
    padding-left: 0;
}

.filter-icons .top {
    padding: 7px 0;
}

.filter-icons .bottom {
    padding: 7px 0;
}

.filter-icons .separator {
    width: 21px;
    margin: 0 auto;
    text-align: center;
    border-color: #a09fa0;
}


.cell-action {
    padding: 0 0 0 15px !important;
}

.cell-action > div {
    padding-left:0;
    padding-right:0;
}

.img-container {
    /*border: 1px solid #777;*/
    position:relative;
    background-color:#333;
    height: 158px;
}

.img-container .img-content {
    min-height:110px;
}

.img-container img {
    width: auto;
    max-height: 110px;
    margin: 0 auto;
}

.img-container .img-caption {
    padding:5px 0;
    color:#fff;
    background-color: #58595B;
}

.img-container .img-users {
    padding: 0 0;
    color: #fff;
    background-color: #58595B;
}

.img-container .overlay {
    display:none;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    height:100%;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
}

.img-container.selected .overlay {
    display:block;
}

/* Dashboard */
.container-dashboard {
   margin-top: 40vh;
}
