.bg-grey {
    background-color: #6D6E72;
}

td.img-content,th.img-content {
    width:200px;
}

td.status {
    vertical-align: middle;
    text-align: center;
    padding: 57px 0 !important
}

th.agency-content {
    position: relative;
    min-width: 90px;
}

th.agency-content div.name {
    position: absolute;
    top: 30px;
    left: 0;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 12px;
}

ul.dropdown-agency {
    background-color:#1E1C1D;
    padding:10px;
    color:#8e8e8e;
    min-width: 210px;
    left: 30px;
}

ul.dropdown-agency li.option {
    padding-left: 10px;
    color:#8e8e8e;
    overflow: hidden;
    cursor:pointer;
}

ul.dropdown-agency a.clr-filters {
    color: #777;
    background: none;
    padding: 5px 0 0 0;
}

.status-approved {
    color:#45e845;
    font-size:12px;
}

.status-rejected {
    color:#ff6161;
    font-size:12px;
}

.status-pending {
   color:orange;
    font-size:12px;
}

.status-not-sent {
    color:grey;
    font-size:12px;
}

.files-list tr.selected {
    background-color:#4e4e4e;
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.files-list tr td:nth-child(1) {
    width: 25%;
}

.filename {
    word-wrap: break-word;
}

.table-files-list {
    margin-top: 90px !important;
}
.table-files-list .main-img{
    height: 125px;
    width: auto;
}

#dropdown-status ul{
    background: #a5a5a5;
}
.status-not-sent, .status-approved, .status-pending, .status-rejected{
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
    border: solid 1px white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: relative;
}
.status-dropdown .status-not-sent,
.status-dropdown .status-approved,
.status-dropdown .status-pending,
.status-dropdown .status-rejected{
    float: left;
    margin-right: 10px;
}
.status-not-sent{
    background: #a5a5a5;
}
.status-approved{
    background: #7cec12;
}
.status-pending{
    background: #212121;
}
.status-rejected{
    background: #7c1e42;
}
.status-icon-inner{
    width: 6px;
    height: 6px;
    float: left;
    border: solid 1px white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    top: 33%;
    left: 33%;
}