body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #58595B;
    color: #fff;
}
p, span, h1, h2, h3, h4, h5, h6 {
    color: #fff;
}
.alert span{
    color: initial;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* CUSTOM CLASSES */

/*Custom Stuff*/
.mb-40 {
    margin-bottom: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-none {
    margin-bottom:0;
}
.mt-40 {
    margin-top: 40px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-none {
    margin-top: 0;
}
.mt-60 {
    margin-top: 60px;
}
.pr-none {
    padding-right:0;
}
.pl-none {
    padding-left:0;
}
.m-none{
    margin: 0 !important;
}
.ph-10 {
    padding-left:20px;
    padding-right:20px;
}
.ph-none {
    padding-left:0;
    padding-right:0;
}
.border-none {
    border:none !important;
}

.border-left-none {
    border-left:none !important;
}
.border-right-none {
    border-right:none !important;
}
.btn-cursor {
    cursor:pointer;
}
button.btn-submit {
    background-color: transparent;
    border: none;
}
input.search {
    background: none;
    border: none;
    color: #fff;
    border-radius: 2px;
}

a.white-link, a.white-link:hover, a.white-link:focus, a.white-link:visited {
    color:#fff;
    padding:0;
}

a.grey-link, a.grey-link:hover, a.grey-link:focus, a.grey-link:visited{
    color:#9d9d9d;
    padding: 0;
}

img.action-icon {
    cursor:pointer;
}

label {
    cursor: pointer;
}
.datepicker {
    color:#000;
}

.cw-20 {
    width:20%;
}

/* LOADING SCREEN */
#s-loading {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    background-color: #fff;
    opacity: 0.8;
}

#s-loading .loading-inner {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%
}

#s-loading .loading-cell {
    display: table-cell;
    vertical-align: middle;
}

#s-loading .loading-caption {
    font-size: 24px;
    color: #666;
}
#s-loading .loading-description, #s-loading .loading-description-2{
    font-size: 18px;
    color: #666;
}

/* NOTIFICATION */
.page-notifications {
    position: fixed;
    right: 20px;
    top: 60px;
    width: 300px;
    z-index: 9000;
}

.page-notifications .notification {
    color: #fff;
    background-color: rgba(82,82,93,0.9);
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(10,10,22,0.3);
    padding: 12px 16px;
    position: relative;
    right: -210px;
    visibility: hidden;
    transition-property: right;
    transition-duration: 0.15s;
    -webkit-transition-property: right;
}

.page-notifications .notification.active {
    right: 0;
    visibility: visible;
}

/* MODALS */
.modal h4 {
    color: #666;
}
.modal-body {
    color: #666;
}

/* FOLDERS */
/*.cell-action div:nth-child(2):before, .cell-action div:nth-child(2):after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*left: 0;*/
    /*width: 1px;*/
    /*height: 100%;*/
    /*background-color: #969696;*/
/*}*/

/*.cell-action div:nth-child(2):after {*/
    /*width: 100%;*/
    /*height: 1px;*/
    /*bottom:0;*/
/*}*/

/*.cell-action div:nth-child(3):before, .cell-action div:nth-child(3):after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left:0;*/
    /*width: 100%;*/
    /*height: 1px;*/
    /*margin-top: -1px;*/
    /*background-color: #969696;*/
/*}*/

/*.cell-action div:nth-child(3):after {*/
    /*width: 1px;*/
    /*height: 100%;*/
    /*right:0;*/
    /*left:inherit;*/
    /*margin-right: -1px;*/
/*}*/
ul.filter-dropdown {
    background-color:#1E1C1D;
    padding:10px;
    color:#8e8e8e;
    min-width: 210px;
    left: 30px;
}

ul.filter-dropdown li.option {
    padding-left: 10px;
    color:#8e8e8e;
    overflow: hidden;
    cursor:pointer;

}

ul.filter-dropdown a.clr-filters {
    color:#777;
    background:none;
    padding: 5px 0 0 0 ;
}
ul.filter-dropdown a.clr-filters:hover {
    color:#777;
    text-decoration: underline;
    background:none;
    padding: 5px 0 0 0 ;
}

ul.filter-dropdown li.option.active{
    color:#dadada;
}

input.date {
    width: 40%;
    float: left;
    padding: 2px;
    height: 22px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #444444;
    border-radius: 0;
    font-size: 12px;
    color:#8e8e8e;
}

.date-range .separator {
    float:left;
}

.table.table-sm {
    margin-top: 11px;
    table-layout: fixed;
}

.table.table-fixed {
    position:fixed;
    z-index:999;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom:1px solid #636363;
    padding-left:15px;
    border-top:none;
    border-right:1px solid #444444;
}

.table-sm thead tr th:nth-child(1) {
    width: 25%;
    background-color:#414143;
    padding-left: 15px;
}

.table-sm thead tr th:nth-child(2) {
    background-color: #6D6E72;
}

.table-sm thead tr th:nth-child(3) {
    background-color: #6D6E72;
}

.table-sm thead tr th:nth-child(4) {
    background-color: #6D6E72;
}

.table-sm thead tr th:nth-child(5) {
    background-color: #6D6E72;
}

.table-sm thead tr th:nth-child(6) {
    background-color: #6D6E72;
}
.table-sm thead tr th:nth-child(7) {
    background-color: #6D6E72;
}

.action-icons {
    background-color: #818181;
    padding-right: 0;
    padding-left: 0;
}

.action-icons .top {
    padding: 7px 0;
}

.action-icons .bottom {
    padding: 7px 0;
}

.action-icons .separator {
    width: 21px;
    margin: 0 auto;
    text-align: center;
    border-color: #3f3f3f;
}

.filter-icons {
    padding-right: 0;
    padding-left: 0;
}

.filter-icons .top {
    padding: 7px 0;
}

.filter-icons .bottom {
    padding: 7px 0;
}

.filter-icons .separator {
    width: 21px;
    margin: 0 auto;
    text-align: center;
    border-color: #a09fa0;
}


.cell-action {
    padding: 0 0 0 15px !important;
}

.cell-action > div {
    padding-left:0;
    padding-right:0;
}

.img-container {
    border: 1px solid #58595B;
    position:relative;
    background-color:#333;
    /*height: 160px;*/
    z-index: 100;
}

.img-container.selected {
    border: 2px solid #fbc084;
}

.img-container.selected .img-caption{
    padding: 4px 0 5px 0;
    height: 48px;
}
.img-container.selected img.main-img {
    max-height: 156px;
}
.img-container .img-content {
    min-height:160px;
}

.img-container img.main-img {
    width: auto;
    max-height: 158px;
    margin: 0 auto;
}

.img-container .img-caption {
    padding:5px 0;
    color:#fff;
    background-color: #58595B;
    font-size: 13px;
    height: 50px;
}

.img-container .img-users {
    padding: 0 0;
    color: #fff;
    background-color: #58595B;
    font-size: 13px;
}

.img-container .overlay {
    display:none;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    height:100%;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
}

.img-container.selected .overlay {
    display:block;
}

/* Dashboard */
.container-dashboard {
   margin-top: 40vh;
}

/* Pagination */
.sm-pagination span {
    color:#666;
}

.sm-pagination li {
    cursor:pointer;
}

.sm-pagination li a,.sm-pagination li a:hover {
    color:#666;
    padding: 6px !important;
}

.sm-pagination .active a, .sm-pagination .active a:hover {
     background-color: #808080;
     border-color: #808080;

}

/* Left menu */
ul.left-menu {
    list-style: none;
    padding-left: 0;
}

ul.left-menu li a{
    color:#d6d6d6;
    font-size:18px;
}

ul.left-menu li a.active {
    color:#fff;
}

.pagination-container {
    position: fixed;
    bottom: 0;
    left: 10px;
    z-index: 10000;
}

/* KnpBundlePagination START */
.pagination>.active>span {
    background-color: #808080;
    border-color: #808080;
    color: #fff;
}

.pagination>li>a, .pagination>li>span {
    color: #666;
}
/* END */

a.deselect-link {
    color: #fff;
    cursor: pointer;
    font-weight: bold;

}

a.deselect-link:hover {
    color: #c0c0c0;
    text-decoration: underline;
}
.equal {
     display: flex;
     flex-wrap: wrap;
 }

.equal > div[class*='col-'] {
    display: flex;
    flex-direction: column;
}

table.transactions-list {
    font-size:12px;
    margin-bottom: 40px;
}
table.transactions-list thead tr{
    background-color: #414143;
}
table.transactions-list td{
    line-height: 30px !important;
    border-right: none;
}
table.transactions-list td.double-line{
    line-height: 1.42857143 !important;
    padding-left: 10px;
}
table.transactions-list th, table.transactions-list td{
    text-align: center;
}
table.transactions-list hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
table.transactions-list td.text-right{
    text-align: right;
}
table.transactions-list td.text-left{
    text-align: left;
}
table.transactions-list.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #4e4e4e;
}
table.transactions-list td:last-child{
    padding: 10px 0;
}
table.transactions-list td i.fa{
    margin-left: 5px;
}
table.transactions-list th:first-child{
    border-left: 2px solid #414143;
}
table.transactions-list tr.transaction-approved{
    border-left: 2px solid #69aa68;
}
table.transactions-list tr.transaction-declined{
    border-left: 2px solid #ee484c;
}
table.transactions-list tr.transaction-pending{
    border-left: 2px solid #ff8a33;
}

table.transactions-list tr.soft-deleted{
    background-color: rgba(42, 5, 14, 0.91) !important;
}

a.red-link, a.red-link:hover, a.red-link:focus, a.red-link:visited{
    color:rgb(42, 5, 14);
    padding: 0;
}

.text-income{
    color: #61e807;
}
.text-expense{
    color: #ee484c;
}
.balance-income{
    background-color: #69aa68;
    padding: 5px 10px;
    display: block;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.balance-expense{
    background-color: #fe4540;
    padding: 5px 10px;
    display: block;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.alert{
    position: fixed;
    top: 50px;
    right: 0px;
}