{% extends 'AppBundle::Admin/admin_base.html.twig' %}
{% block body %}
    {% if company.id %}
        <h1 class="page-header">Update Company</h1>
    {% else %}
        <h1 class="page-header">New Company</h1>
    {% endif %}
    {#<h2 class="sub-header">Users</h2>#}
    <div class="row">
        <div class="col-xs-6">
            <form method="POST">
                <div class="form-group">
                    <label >Name</label>
                    <input type="text" name="name" value="{{ company.name }}" class="form-control"  placeholder="Company name">
                </div>
                <div class="form-group">
                    <label >Unique ID</label>
                    <input type="text" name="guid" value="{{ company.guid }}" class="form-control"  placeholder="Unique ID">
                </div>
                <input type="hidden" name="id" value="{{ company.id }}" >
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
{% endblock %}

