{% extends 'AppBundle::Admin/admin_base.html.twig' %}
{% block body %}
    <h1 class="page-header">Companies</h1>
    {#<h2 class="sub-header">Users</h2>#}
    <a class="btn btn-default" href="{{ path("admin.company.update",{"id":"new"}) }}" role="button">New Company</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>GUID</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.name}}</td>
                    <td>{{ company.guid }}</td>
                    <td>    <a class="btn btn-default" href="{{ path("admin.company.update",{"id": company.id }) }}" role="button">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

