<table class="table table-sm table-files-list">
<tbody>
{% for key,file in files %}
    <tr data-file-id="{{ file.id }}" class="item" data-index="{{ key }}">
        <td style="word-wrap: break-word" class="btn-cursor" onclick="selectFile({{ file.id }})">
            <div class="row" >
                <div class="col-sm-8">
                    <div class="filename">{{ file.name }}</div>
                    <div class="mt-10">
                        {% for fileUser in file.users %}
                            {% if fileUser.role == 'photographer' %}
                                {% image '@AppBundle/Resources/public/images/miniPhotographer.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="" />
                                {% endimage %}
                                {% if fileUser.user %}
                                    {{ fileUser.user.username }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for fileUser in file.users %}
                            {% if fileUser.role == 'retoucher' %}
                                {% image '@AppBundle/Resources/public/images/miniRetoucher.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="" />
                                {% endimage %}
                                {% if fileUser.user %}
                                    {{ fileUser.user.username }}
                                {% else %}
                                    Unknown
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="mt-10">
                        {{ file.folder.name }}<br>
                        {{ file.folder.description }}
                    </div>
                </div>
                <div class="col-sm-2 text-center">
                    <input type="checkbox" id="file_{{ file.id }}" data-index="{{ key }}" class="file-select" data-file-id="{{ file.id }}" value=""><label for="file_{{ file.id }}"></label>
                </div>
            </div>
        </td>
        <td class="img-content">
            <div class="img-content btn-cursor" data-file-id="{{ file.id }}">
                <span class="handle {% if file.metadataUpdated == false %}hidden{% endif %}" data-toggle="tooltip" data-placement="right"
                      title="Metadata updated"><i class="fa fa-star" aria-hidden="true"></i></span>
                <img id="file_{{ file.id }}" class="img-responsive main-img" src="{{ image_service.getImageThumb(file) }}" data-src="{{ file.path }}" >
            </div>
        </td>
        <td class="title">
            <div class="title" data-meta="title" data-file-id="{{ file.id }}">
                <div class="editable">
                    {% if file.metadata %}
                        <textarea class="meta-input" rows="3" id="file_{{ file.id }}_title" data-file-id="{{ file.id }}">{{ file.metadata.title }}</textarea>
                    {% endif %}
                </div>
            </div>
            <div data-meta="description" data-file-id="{{ file.id }}">
                <div class="editable">
                    {% if file.metadata %}
                        <textarea class="meta-input" rows="3" id="file_{{ file.id }}_description" data-file-id="{{ file.id }}">{{ file.metadata.description }}</textarea>
                    {% endif %}
                </div>
            </div>
        </td>
        <td colspan="2" class="keywords" data-meta="keywords" data-file-id="{{ file.id }}">
            <div class="editable">
                {% if file.metadata %}
                    <textarea class="meta-input keywords-input" onkeyup="countKeywords(this)" rows="5" id="file_{{ file.id }}_keywords" data-file-id="{{ file.id }}">{% for keyword in  file.keywords %}{{ keyword.name }}{% if not loop.last  %}, {% endif %}{% endfor %}</textarea>
                {% endif %}
            </div>
            <div class="keywords-count"  data-file-id="{{ file.id }}">
                0
            </div>
        </td>
        {#<td ></td>#}
    </tr>
{% endfor %}
</tbody>
</table>
{% if totalPages > 1 %}
    <div class="row pagination-item">
        <div class="col-xs-12">
            {% if totalPages > 1 %}
                <nav>
                    <ul class="pagination sm-pagination">
                        {%  if currentPage - 1 != 0 %}
                            <li>
                                <a onclick="changePage({{ currentPage - 1 }})" aria-label="Previous"><span aria-hidden="true">«</span></a>
                            </li>
                        {% endif %}
                        {% for i in 1..totalPages %}
                            {% if currentPage == i %}
                                <li id="page-active" class="active">
                                    <a onclick="changePage({{ i }})"> {{ i }}
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a onclick="changePage({{ i }})">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {%  if currentPage + 1 <= totalPages %}
                            <li>
                                <a onclick="changePage({{ currentPage + 1 }})" aria-label="Next"><span aria-hidden="true">»</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endif %}
<input id="current-page" type="hidden" value="{{ currentPage }}" >
<input id="total-pages" type="hidden" value="{{ totalPages }}" >