<tr>
    <td style="width:80%">
        <div class="row equal" id="draggable-container">
            <script>
                var files = []; // Files for metadata
            </script>
            {% for key,file in files %}
                <script>
                    var file = {'id':{{ file.id }} };
                    file.title = {% if file.metadata %} "{{ file.metadata.title }}"; {% else %} ""; {% endif %}
                    file.description = {% if file.metadata %} "{{ file.metadata.description }}"; {% else %} ""; {% endif %}
                    file.keywords = {% if file.keywords %} "{% for keyword in  file.keywords %}{{ keyword.name }}{% if not loop.last  %}, {% endif %}{% endfor %}"{% else %} ""; {% endif %}

                    files.push(file);
                </script>
                <div class="col-xs-3 cw-20 mb-10" data-order="{{ file.orderNumber }}">
                    <div class="img-container img-enlarging btn-cursor" data-index="{{ key }}" onclick="gridSelectSingleFile(this)" data-file-id="{{ file.id }}">

                            <span class="handle {% if file.metadataUpdated == false %}hidden{% endif %}" data-toggle="tooltip" data-placement="right"
                                  title="Metadata updated"><i class="fa fa-star" aria-hidden="true"></i></span>

                        <div class="img-content">
                            <img id="file_{{ file.id }}" class="img-responsive main-img" src="{{ image_service.getImageThumb(file) }}" data-src="{{ file.path }}" >
                        </div>
                        <div class="clearfix"></div>
                        {#<hr class="mb-none mt-none">#}
                        <div class="row m-none">
                            <div class="col-xs-12 img-caption">
                                <span>{{ file.name }}</span><br>

                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 img-users">
                                {% if file.users|length == 0 %}
                                    &nbsp;
                                {% else %}
                                    {% for member in file.users %}
                                        {% if member.role == 'photographer' %}
                                            {% image '@AppBundle/Resources/public/images/miniPhotographer.png' %}
                                            <img src="{{ asset_url }}" alt="" width="" class="" />
                                            {% endimage %}
                                        {% elseif member.role == 'retoucher' %}
                                            {% image '@AppBundle/Resources/public/images/miniRetoucher.png' %}
                                            <img src="{{ asset_url }}" alt="" width="" class="" />
                                            {% endimage %}
                                        {% else %}
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        {% endif %}
                                        {% if member.user %}
                                            {{ member.user.username }}
                                        {% else %}
                                            Unknown
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </td>
    <td style="width:20%">
        {#<div class="row">#}
            {#<div class="col-sm-12 title-container">#}
                {#<h5>Title</h5>#}
                {#<textarea id="title-input" class="grid-meta-input" rows="10" ></textarea>#}
            {#</div>#}
            {#<div class="col-sm-12 description-container">#}
                {#<h5>Description</h5>#}
                {#<textarea id="description-input" class="grid-meta-input" rows="10" ></textarea>#}

            {#</div>#}
            {#<div class="col-sm-12 keywords-container">#}
                {#<h5>Keywords</h5>#}
                {#<textarea id="keywords-input" class="grid-meta-input" rows="10" ></textarea>#}
            {#</div>#}
        {#</div>#}
    </td>
</tr>
{% if totalPages > 1 %}
    <tr class="pagination-item">
        <td colspan="12">
            {% if totalPages > 1 %}
                <nav>
                    <ul class="pagination sm-pagination">
                        {%  if currentPage - 1 != 0 %}
                            <li>
                                <a onclick="changePage({{ currentPage - 1 }})" aria-label="Previous"><span aria-hidden="true">«</span></a>
                            </li>
                        {% endif %}
                        {% for i in 1..totalPages %}
                            {% if currentPage == i %}
                                <li id="page-active" class="active">
                                    <a onclick="changePage({{ i }})"> {{ i }}
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a onclick="changePage({{ i }})">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {%  if currentPage + 1 <= totalPages %}
                            <li>
                                <a onclick="changePage({{ currentPage + 1 }})" aria-label="Next"><span aria-hidden="true">»</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </td>
    </tr>
{% endif %}
<input id="current-page" type="hidden" value="{{ currentPage }}" >
<input id="total-pages" type="hidden" value="{{ totalPages }}" >