{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    {% block extrastylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/modules/metadata/metadata.css'
        '@AppBundle/Resources/public/dragula/dragula.min.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <div class="container-fluid ph-none">
        <table class="table table-sm table-fixed">
            <thead>
            <tr class="border-none">
                <th class="border-none cell-action ">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-xs-8 pr-none">
                                <h4>Metadata</h4>
                            </div>
                            <div class="col-xs-4 pl-none">
                                <script>
                                    var allFolders = [];
                                    var foldersList = [];
                                    var singleFolder;
                                    {% for folder in folders %}
                                    singleFolder = {'label':"{{folder.name}}", 'value': {{ folder.id }} };
                                    allFolders.push(singleFolder);
                                    foldersList.push("{{folder.name}}");
                                    {% endfor %}
                                </script>
                                <input class="form-control search-by" title="Folder" id="autocomplete-folder" placeholder="Folder">
                                <input id="autocomplete-value" hidden="hidden">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 pr-none">
                                <input type="text" id="input-file-search" value="{{ app.request.get('name') }}" class="form-control search" placeholder="Search...">
                            </div>
                            <div class="col-xs-4 pl-none">
                                <select class="form-control search-by" id="select-search-by" title="Search by">
                                    <option value="name" {% if app.request.get('search_by') == 'name'%}selected{% endif %}>Name</option>
                                    <option value="meta" {% if app.request.get('search_by') == 'meta'%}selected{% endif %} >Meta</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 filter-icons">
                        <div class="col-xs-12 text-center top">
                            <div id="dropdown-filter" class="dropdown">
                                {% image '@AppBundle/Resources/public/images/filters.png' %}
                                <img src="{{ asset_url }}" alt="" width="" id="dLabel" class="action-icon filter-icon"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                                {% endimage %}
                                <ul class="dropdown-menu filter-dropdown" aria-labelledby="dLabel">
                                    <li>Photographers</li>
                                    {% for member in members %}
                                        {% if user_service.hasInternalRole(member,'photographer') %}
                                            <li class="option">
                                                <input type="checkbox" class="filter-photographer" data-id="{{ member.id }}" checked id="photographer_{{ member.id }}" onchange="searchFilesRequest()" > <label for="photographer_{{ member.id }}">{{ member.username }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="option">
                                        <input type="checkbox" class="filter-photographer" data-id="0" checked id="photographer_0" onchange="searchFilesRequest()" > <label for="photographer_0">Unknown</label>
                                    </li>
                                    <li>Retouchers</li>
                                    {% for member in members %}
                                        {% if user_service.hasInternalRole(member,'retoucher') %}
                                            <li class="option">
                                                <input type="checkbox" class="filter-retoucher" data-id="{{ member.id }}" checked id="retoucher_{{ member.id }}" onchange="searchFilesRequest()" > <label for="retoucher_{{ member.id }}">{{ member.username }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="option">
                                        <input type="checkbox" class="filter-retoucher" data-id="0" checked id="retoucher_0" onchange="searchFilesRequest()" > <label for="retoucher_0">Unknown</label>
                                    </li>
                                    {#<li>Collection</li>#}
                                    {#{% for collection in collections %}#}
                                    {#<li class="option">#}
                                    {#<input type="checkbox" checked class="filter-collection" data-name="{{ collection }}" id="collection_{{ collection }}" onchange="searchFilesRequest()"> <label for="collection_{{ collection  }}">{{ collection }}</label>#}
                                    {#</li>#}
                                    {#{% endfor %}#}
                                    <li>Date Range</li>
                                    <li class="option date-range">
                                        <input type="text" id="filter-date-from" class="form-control date datepicker" onchange="searchFilesRequest()" value="01/01/2011"> <div class="separator"> - </div>
                                        <input type="text" id="filter-date-to" class="form-control date datepicker" onchange="searchFilesRequest()" value="{{ "now"|date("d/m/Y") }}">
                                    </li>
                                    <li class="mt-10">Sort by</li>
                                    <li id="order_custom" class="option order-option active" onclick="updateOrderBy(this,'custom')">Custom</li>
                                    <li id="order_name" class="option order-option" onclick="updateOrderBy(this,'name')">Name</li>
                                    <li id="order_recent" class="option order-option" onclick="updateOrderBy(this,'recent')" >Recently added</li>
                                    <li><strong><a class="pull-right btn-cursor clr-filters" onclick="clearFilters()">Clear Filters</a></strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="separator">
                        <div class="clearfix"></div>
                        <div class="col-xs-12 text-center bottom">
                            {% image '@AppBundle/Resources/public/images/selectAll.png' %}
                            <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Select / deselect all" onclick="gridSelectAllFiles()"/>
                            {% endimage %}
                        </div>
                    </div>
                    <div class="col-sm-2 action-icons">
                        <div class="inner">
                            <div class="col-xs-12 text-center top">
                                {% image '@AppBundle/Resources/public/images/delete.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Delete image(s)" onclick="deleteFiles('grid')"/>
                                {% endimage %}
                            </div>
                            <div class="clearfix"></div>
                            <hr class="separator">
                            <div class="clearfix"></div>
                            <div class="col-xs-12 text-center bottom">
                                {% image '@AppBundle/Resources/public/images/download.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Download images "  onclick="downloadFiles('grid')"/>
                                {% endimage %}
                            </div>
                        </div>
                    </div>

                </th>
                <th class="border-none img-content">
                    <div class="col-xs-12">
                        <a class="btn btn-success" onclick="syncMetadata()">Update Meta</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 mt-10">
                        <div class="btn-group" role="group" aria-label="...">
                            <a id="listViewButton" type="button" href="{{ path('metadata.list') }}" class="btn btn-default" >List view</a>
                            <a id="gridViewButton" type="button" href="{{ path('metadata.grid') }}" class="btn btn-default" disabled>Grid view</a>
                        </div>
                    </div>
                </th>
                <th></th>
            </tr>
            </thead>
        </table>
        <table class="table table-sm table-files-grid">
            <tbody class="files-grid">
            {% include 'AppBundle::Metadata/filesGrid.html.twig' %}
            </tbody>
        </table>
        <div class="row metadata-container">
            <div class="col-sm-12 title-container">
                <h5>Title</h5>
                <textarea id="title-input" class="grid-meta-input" rows="3" ></textarea>
            </div>
            <div class="col-sm-12 description-container">
                <h5>Description</h5>
                <textarea id="description-input" class="grid-meta-input" rows="3" ></textarea>

            </div>
            <div class="col-sm-12 keywords-container">
                <h5>Keywords</h5>
                <textarea id="keywords-input" onkeyup="gridCountKeyWords(this); auto_grow(this)" class="grid-meta-input" rows="5" ></textarea>
                <div class="grid-keywords-count" >
                    0
                </div>
            </div>
            <div class="col-sm-12 mt-10">
                <input type="checkbox" onchange="getFilesMeta()" id="grid-common-keywords">
                <label for="grid-common-keywords"></label> Show only common keywords
            </div>
            {#<div class="col-sm-12 mt-10">#}
            {#<a class="btn btn-success" onclick="gridSaveMetadata()">Save</a>#}
            {#</div>#}
        </div>
    </div>
{% endblock %}
{% block extrajavascript %}
    {% javascripts
    '@AppBundle/Resources/public/dragula/dragula.min.js'
    '@AppBundle/Resources/public/modules/metadata/metadata.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

