.bg-grey {
    background-color: #6D6E72;
}

td.img-content,th.img-content {
    width:200px;
}

.img-caption span {
    word-break: break-all;
}

td.status {
    vertical-align: middle;
    text-align: center;
    padding: 5% 0 !important;
}

th.agency-content {
    position: relative;
    min-width: 90px;
}

th.agency-content div.name {
    position: absolute;
    top: 30px;
    left: 0;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

ul.dropdown-agency {
    background-color:#1E1C1D;
    padding:10px;
    color:#8e8e8e;
    min-width: 210px;
    left: 30px;
}

ul.dropdown-agency li.option {
    padding-left: 10px;
    color:#8e8e8e;
    overflow: hidden;
    cursor:pointer;
}

ul.dropdown-agency a.clr-filters {
    color: #777;
    background: none;
    padding: 5px 0 0 0;
}

.status-approved {
    color:#45e845;
}

.status-rejected {
    color:#ff6161;
}

.status-pending {
   color:orange;
}

.status-not-sent {
    color:grey;
}

.files-list tr.selected {
    background-color:#4e4e4e;
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.files-list tr td:nth-child(1) {
    width: 25%;
}

.filename {
    word-wrap: break-word;
}

.table-files-list {
    margin-top: 90px !important;
}
.table-files-list .main-img{
    height: 125px;
    width: auto;
}
.editable {
    position:relative;
}

.noneditable {
    word-break: break-all;
}

.meta-input {
    width: 100%;
    height: 100%;
    background-color: #58595b;
    border: none !important;
    overflow: auto !important;
    outline: none !important;
    resize:none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.selected .meta-input {
    background-color: #4e4e4e;
}
.meta-input {
    border:none;
}


td.title, td.description, td.keywords {
    cursor:text;
    width:20%;
    position:relative;
}
td.keywords {
    width: 40%;
}
td.title .editable{
    border-bottom: 1px dashed #dadada;
}
td.keywords {
    padding-bottom:20px !important;
}

tr.item {
    font-size:12px;
}

.keywords-count {
    font-size: 22px;
    position: absolute;
    bottom: 0;
    left: 16px;
    opacity: 0.5;
}

/**
 * GRID VIEW
 */

.table-files-grid {
    margin-top: 90px !important;
}

.table-files-grid tbody tr td {
    border:none !important;
}

.title-container, .title-container textarea {
    background-color: #3B6178;
}

.description-container, .description-container textarea {
    background-color: #6E374A;
}

.keywords-container, .keywords-container textarea {
    background-color: #3C4E49;
    resize: none;
    overflow: hidden;
    min-height: 90px;
}
.keywords-container {
    padding-bottom: 20px;
}

.grid-meta-input {
    width: 100%;
    height: 100%;
    background-color: #58595b;
    border: none !important;
    overflow: auto !important;
    outline: none !important;
    resize:none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 12px;
}
.selected .grid-meta-input {
    background-color: #4e4e4e;
}
.grid-meta-input{
    border:none;
}

.metadata-container {
    position: fixed;
    right: 0;
    width: 20%;
    z-index: 10000;
    top: 132px;
}

.grid-keywords-count {
    font-size: 22px;
    position: absolute;
    bottom: 0;
    left: 10px;
    opacity: 0.5;
}
input.search-by{
    background: none;
    border: none;
    color: #fff;
    border-radius: 2px;
    padding-left: 5px;
}
select.search-by {
    padding:2px;
    background: none;
    border: none;
    color: #fff;
    border-radius: 0;
    font-size: 12px;
}

select.search-by option {
    color: #fff;
    background-color:#58595B;

}
.handle{
    padding: 0 6px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
    position: absolute;
    font-size: 14px;
}

a.btn {
    font-size: 12px;
    padding: 4px;
}

.ui-widget.ui-widget-content{
    z-index: 999;
    background-color: #1E1C1D;
    color: #dadada;
}
.ui-state-active{
    background: initial !important;
    border: 1px solid #dadada !important;
}