{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container container-dashboard">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1">
                <a href="{{ path('finance.list') }}" class="white-link"><h3 class="text-center">Finance</h3></a>
            </div>
            <div class="col-xs-2">
                <a href="{{ path('folder.list') }}" class="white-link"><h3 class="text-center">Shoot</h3></a>
            </div>
            <div class="col-xs-2">
                <a href="{{ path('agency.list') }}" class="white-link"><h3 class="text-center">Agency </h3></a>
            </div>
            <div class="col-xs-2">
                <a href="{{ path('metadata.list') }}" class="white-link"><h3 class="text-center">Metadata</h3></a>
            </div>
            <div class="col-xs-2">
                <a href="{{ path('team') }}" class="white-link"><h3 class="text-center">Team</h3></a>
            </div>
        </div>
    </div>
{% endblock %}

