{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container">
        <form class="form-signin" onsubmit="submitSignUpForm(event,this)">
            <h2 class="form-signin-heading">Sign up</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
            <input type="hidden" name="company" value="{{ app.request.get('company') }}" >
            <button class="btn btn-lg btn-success btn-block" type="submit">Sign Up</button>
        </form>
    </div>
{% endblock %}

