{% extends 'AppBundle::base.html.twig' %}
{% block body %}
<div class="container mt-40">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="panel-body" >
                <form  class="form-horizontal" method="post" action="">
                    <div id="div_id_type" class="form-group required">
                        <label for="id_type" class="control-label col-md-4">Type<span class="asteriskField"> *</span> </label>
                        <div class="col-md-8">
                            <select class="form-control" required name="type" id="id_type" onchange="changeTransactionType(this)">
                                <option value="expense" {% if transaction.type=='expense' %} selected {% endif %}>Expense</option>
                                <option value="transfer" {% if transaction.type=='transfer' %} selected {% endif %}>Transfer</option>
                                <option value="income" {% if transaction.type=='income' %} selected {% endif %}>Income</option>
                            </select>
                        </div>
                    </div>
                    <div id="div_id_date" class="form-group required">
                        <label for="id_date" class="control-label col-md-4">Date<span class="asteriskField"> *</span> </label>
                        <div class="col-md-8">
                            <input class="form-control f-datepicker" id="id_date" name="date" value="{{ transaction.date|date('m/d/Y') }}" />
                        </div>
                    </div>
                    <div id="div_id_amount" class="form-group required">
                        <label for="source_amount" class="control-label col-md-4">Source Amount<span class="asteriskField"> *</span> </label>
                        <div class="col-md-4">
                            <input type="text" step="any" name="source_amount" id="source_amount" value="{{ transaction.sourceAmount }}" min="0" class="form-control" >
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" required name="source_currency" id="source_currency">
                                <option value="usd" {% if transaction.sourceCurrency == 'usd' %} selected {% endif %} >USD</option>
                                <option value="usd" {% if transaction.sourceCurrency == 'eur' %} selected {% endif %} >EUR</option>
                                <option value="usd" {% if transaction.sourceCurrency == 'rsd' %} selected {% endif %} >RSD</option>
                            </select>
                        </div>
                    </div>
                    <div id="div_id_amount_destination" class="form-group required">
                        <label for="destination_amount" class="control-label col-md-4">Destination Amount<span class="asteriskField"> *</span> </label>
                        <div class="col-md-4">
                            <input type="text" step="any" name="destination_amount" id="destination_amount" value="{{ transaction.destinationAmount }}" min="0" class="form-control" >
                        </div>
                        <div class="col-sm-4" id="destination_currency_div">
                            <select class="form-control" required name="destination_currency" id="destination_currency">
                                <option value="usd" {% if transaction.destinationCurrency == 'usd' %} selected {% endif %} >USD</option>
                                <option value="usd" {% if transaction.destinationCurrency == 'eur' %} selected {% endif %} >EUR</option>
                                <option value="usd" {% if transaction.destinationCurrency == 'rsd' %} selected {% endif %} >RSD</option>
                            </select>
                        </div>
                    </div>
                    <div id="div_id_source_category" class="form-group required">
                        <label for="source-category" class="control-label col-md-4">Source<span class="asteriskField"> *</span> </label>
                        <div class="col-sm-4" id="source_category_div">
                            <select class="form-control" required name="source-category" id="source-category" data-source-id="{{ transaction.source.category.id }}" onchange="changeCategory(this, 'source')">
                                <option>Source Category</option>
                                {% for sourceCat in sourceCategory %}
                                    <option  {% if transaction.source.category.id == sourceCat.id %} selected {% endif %} value="{{sourceCat.id}}">{{sourceCat.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4" id="source_div">
                            <select data-source-id="{{ transaction.source.id }}" class="form-control" required name="source" id="source_dropdown">
                                <option>Source</option>
                            </select>
                        </div>
                    </div>
                    <div id="div_id_destination_category" class="form-group required">
                        <label for="destination" class="control-label col-md-4">Destination<span class="asteriskField"> *</span> </label>
                        <div class="col-sm-4" id="destination_category_div">
                            <select class="form-control" required name="destination" id="destination_category" data-source-id="{{ transaction.destination.category.id }}" onchange="changeCategory(this, 'destination')">
                                <option>Destination Category</option>
                                {% for destinationCat in destinationCategory %}
                                    <option {% if transaction.destination.category.id == destinationCat.id %} selected {% endif %} value="{{destinationCat.id}}">{{destinationCat.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-4" id="destination_div">
                            <select data-source-id="{{ transaction.destination.id }}" class="form-control" required name="destination" id="destination_dropdown">
                                <option>Destination</option>
                            </select>
                        </div>
                    </div>
                    <div id="div_id_description" class="form-group required">
                        <label for="description" class="control-label col-md-4">Description<span class="asteriskField"> *</span> </label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="description" id="description">{{ transaction.description }}</textarea>
                        </div>
                    </div>
                    <button type="submit" class="white-link btn-cursor btn-submit pull-right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/finance/finance_edit.js' %}
    <script src="{{ asset_url }}"></script>
    <script>
        var sourceAmount = document.getElementById("source_amount");
        sourceAmount.addEventListener('change', formatThousands);
        var destinationAmount = document.getElementById("destination_amount");
        destinationAmount.addEventListener('change', formatThousands);
    </script>
    {% endjavascripts %}
{% endblock %}