{% extends 'AppBundle::base.html.twig' %}
{% block extrastylesheets %}
    {% stylesheets
    '@AppBundle/Resources/public/modules/finance/finance.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row mt-20">
            <div class="col-sm-10">
                <h5>Balances on all accounts</h5>
                <hr class="mt-none"/>
                    {% for account in userAccounts %}
                        <div class="col-sm-3">
                                <div class="text-left">
                                    {{ account.name }}
                                    {% if account.currency %}
                                        ( {{ account.currency }} )
                                    {% endif %}
                                </div>
                                <div class="checkbox {% if account.balance < 0 %}balance-expense{% else %}balance-income{% endif %}">
                                    <label>
                                        <input name="account_id" value="{{ account.id }}" onchange="financeAccountSelected(this)" type="checkbox"> {{ account.balance |number_format(2, '.', ',') }}
                                    </label>
                                </div>
                        </span>
                        </div>
                    {% endfor %}
                <hr/>
            </div>
            <div class="col-sm-2">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GENERAL_MANAGER') %}
                    {% include 'AppBundle::Finance/managerMenu.html.twig' %}
                {% endif %}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">
            <h3 class="text-left">All Transactions</h3>
            <div class="col-xs-9">
                <h5>Incomes / Expenses</h5>
            </div>
            <div class="col-xs-3 pr-none">
                <select class="form-control pull-right evident-select" name="transaction-sort" id="search-sort" onchange="transactionSort()">
                    <option value="">Sort By</option>
                    <option value="id_desc" {% if app.request.get('sort') == 'id_desc' %}selected{% endif %}>ID Desc</option>
                    <option value="id_asc" {% if app.request.get('sort') == 'id_asc' %}selected{% endif %}>ID Asc</option>
                    <option value="date_asc" {% if app.request.get('sort') == 'date_asc' %}selected{% endif %}>Date Asc</option>
                    <option value="date_desc" {% if app.request.get('sort') == 'date_desc' %}selected{% endif %}>Date Desc</option>
                </select>
            </div>
            {% include 'AppBundle::Finance/financeBalancesTransactions.html.twig' %}
        </div>
    </div>
{% endblock %}
{#'bundles/app/modules/finance/finance.js'#}
{% block extrajavascript %}
    {% javascripts
    '@AppBundle/Resources/public/modules/finance/finance.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}