{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container mt-40">
        <div class="col-sm-10">
            <h3>Update</h3>
            <div class="row">
                <div class="col-xs-6">
                    <form method="POST">
                        <div class="form-group">
                            <label >Name</label>
                            <input type="text" name="name" value="{{entityCategory.name}}" class="form-control" placeholder="Name" required="required">
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Save" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GENERAL_MANAGER') %}
                {% include 'AppBundle::Finance/managerMenu.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/finance/finance.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}



