{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container mt-40">
        <div class="col-sm-10">
            <h3>Create new</h3>
            <div class="row">
                <div class="col-xs-6">
                    <form method="POST">
                        <div class="form-group">
                            <label >Name</label>
                            <input type="text" name="name" class="form-control"
                                   aria-describedby="basic-addon1" placeholder="Name" required="required">
                        </div>
                        <div class="form-group">
                            <label >Category</label>
                            <select class="form-control" name="category" onchange="transactionEntityCategoryChanged(this)">
                                {% for category in entityCategory %}
                                    <option data-slug="{{category.slug}}" value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="dropdown-currency" class="form-group">
                            <label >Currency</label>
                            <select class="form-control" name="currency">
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                                <option value="RSD">RSD</option>
                            </select>
                        </div>
                        <div id="dropdown-agency" class="form-group hidden">
                            <label >Agency</label>
                            <select class="form-control" name="agency">
                                {% for agency in agencies %}
                                    <option value="{{agency.id}}">{{agency.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="dropdown-shoot" class="form-group hidden">
                            <label >Folder</label>
                            <select class="form-control" name="folder">
                                {% for folder in folders %}
                                    <option value="{{folder.id}}">{{folder.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="check-parent" class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" name="parent" onchange="parentChanged(this)" >Is parent</label>
                            </div>
                        </div>
                        <div id="check-displayStatement" class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" name="displayStatement" >Display Statement</label>
                            </div>
                        </div>
                        <div id="dropdown-parent" class="form-group">
                            <label >Select Parent</label>
                            <select class="form-control {% if parentEntities|length == 0 %} hidden {% endif %}" name="parent_selected">
                            </select>
                        </div>
                        <div id="dropdown-owner" class="form-group">
                            <label >Owner</label>
                            <select class="form-control" name="owner">
                                {% for owner in owners %}
                                    <option value="{{owner.id}}">{{owner.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Position</label>
                            <div class="checkbox">
                                <label><input type="checkbox" value="income-source" name="position[]" >Income Source</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="income-destination" name="position[]" >Income Destination</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="transfer-source" name="position[]" >Transfer Source</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="transfer-destination" name="position[]">Transfer Destination</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="expense-source" name="position[]">Expense Source</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="expense-destination" name="position[]">Expense Destination</label>
                            </div>
                        </div>
                        <div id="dropdown-shared" class="form-group">
                            <label>Users how have access</label>
                            <select name="shared_users[]" multiple="multiple" class="form-control">
                                {% for owner in owners %}
                                    <option value="{{owner.id}}">{{owner.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Save" >
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GENERAL_MANAGER') %}
                    {% include 'AppBundle::Finance/managerMenu.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/finance/finance.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
		
	<script>
		parentEntities = new Array();
		{% for parent in parentEntities %}
		parentEntities.push({"category": {{ parent.category.id}}, "name": "{{ parent.name }}", "value": {{ parent.id }}});
		{% endfor %}
		document.getElementsByTagName("body")[0].addEventListener("load", populateParentByCategory());
	</script>
{% endblock %}



