{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container mt-40">
        <div class="col-sm-10">
            <div class="row">
                    <div class="col-sm-10">
                        <h3 class="text-left">All Transactions</h3>
                        <div class="col-xs-9">
                            <h5>Incomes / Expenses</h5>
                        </div>
                        <div class="col-xs-3 pr-none">
                            <select class="form-control pull-right evident-select" name="transaction-sort" id="search-sort" onchange="transactionSort()">
                                <option value="">Sort By</option>
                                <option value="id_desc" {% if app.request.get('sort') == 'id_desc' %}selected{% endif %}>ID Desc</option>
                                <option value="id_asc" {% if app.request.get('sort') == 'id_asc' %}selected{% endif %}>ID Asc</option>
                                <option value="date_asc" {% if app.request.get('sort') == 'date_asc' %}selected{% endif %}>Date Asc</option>
                                <option value="date_desc" {% if app.request.get('sort') == 'date_desc' %}selected{% endif %}>Date Desc</option>
                            </select>
                        </div>
                        <table class="table transactions-list table-striped">
                            <tbody>
                            <thead>
                            <th>Type</th>
                            <th>#</th>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Value</th>
                            <th>Currency</th>
                            <th>Source/Destination</th>
                            <th>Description</th>
                            <th>Info</th>
                            </thead>
                            {% for key,transaction in transactions %}
                                <tr>
                                    <td>
                                        {% if transaction.type == 'expense' %}
                                            <span class="fa-stack fa-lg">
                          <i class="fa fa-minus fa-stack-1x"></i>
                          <i class="fa fa-circle-thin fa-stack-2x text-danger"></i>
                        </span>
                                        {% elseif transaction.type == 'transfer' %}
                                            <span class="fa-stack fa-lg">
                          <i class="fa fa-arrows-h fa-stack-1x"></i>
                          <i class="fa fa-circle-thin fa-stack-2x text-warning"></i>
                        </span>
                                        {% elseif transaction.type == 'income' %}
                                            <span class="fa-stack fa-lg">
                          <i class="fa fa-plus fa-stack-1x"></i>
                          <i class="fa fa-circle-thin fa-stack-2x text-success"></i>
                        </span>
                                        {% endif %}

                                    </td>
                                    <td>
                                        {{ transactions|length - key  }}
                                    </td>
                                    <td>
                                        {{ transaction.id }}
                                    </td>
                                    <td>
                                        {{ transaction.date|date("m/d/Y") }}
                                    </td>
                                    <td class="text-right {% if transaction.type == 'transfer' %}double-line{% endif %}">
                                        {% if transaction.type == 'expense' %}
                                            <span class="text-expense">- {{ transaction.sourceAmount |number_format(2, '.', ',')}}</span>
                                        {% elseif transaction.type == 'transfer' %}
                                            <span class="text-expense">- {{ transaction.sourceAmount |number_format(2, '.', ',')}}</span>
                                            <hr/>
                                            <span class="text-income">+ {{ transaction.destinationAmount |number_format(2, '.', ',')}}</span>
                                        {% elseif transaction.type == 'income' %}
                                            <span class="text-income">+ {{ transaction.destinationAmount |number_format(2, '.', ',') }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="{% if transaction.type == 'transfer' %}double-line{% endif %}">
                                        {% if transaction.type == 'expense' %}
                                            {{ transaction.sourceCurrency |upper}}
                                        {% elseif transaction.type == 'transfer' %}
                                            {{ transaction.sourceCurrency |upper}}  <hr/>
                                            {{ transaction.destinationCurrency |upper}}
                                        {% elseif transaction.type == 'income' %}
                                            {{ transaction.destinationCurrency |upper}}
                                        {% endif %}
                                    </td>
                                    <td class="text-left {% if transaction.type == 'transfer' %}double-line{% endif %}">
                                        {% if transaction.type == 'expense' %}
                                            {{ transaction.source.name }}
                                        {% elseif transaction.type == 'transfer' %}
                                            {{ transaction.source.name }}  <hr/>
                                            {{ transaction.destination.name }}
                                        {% elseif transaction.type == 'income' %}
                                            {{ transaction.destination.name }}
                                        {% endif %}
                                    </td>
                                    <td class="text-left">
                                        {{ transaction.description }}
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation text-center">
                            {{ knp_pagination_render(transactions) }}
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <h3 class="text-left">Balance</h3>
                        <hr class="mt-none"/>
                        {% for singleBalance in balance %}
                            <div class="text-left">
                                {{ singleBalance.name }}
                            </div>
                            <span class="{% if singleBalance.balance <0 %}balance-expense{% else %}balance-income{% endif %}">
                                {{ singleBalance.balance |number_format(2, '.', ',') }}<br/>
                            </span>
                        {% endfor %}
                        <hr/>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}