{% extends 'AppBundle::base.html.twig' %}
{% block extrastylesheets %}
    {% stylesheets
    '@AppBundle/Resources/public/modules/finance/finance.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="container mt-40">
        <div class="col-sm-10">
            <div class="row">
                {% for category in categories %}
                    <div class="col-sm-3 text-left">
                        <h3 class="text-center">
                            {{category.name}}
                            {% if not category.locked %}
                                <a class="grey-link btn-cursor" href="{{ path('finance.entities.category.update',{'id':category.id})}}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a class="grey-link btn-cursor" href="{{ path('finance.entities.category.delete',{'id':category.id})}}" onclick="return confirm('are u sure?')" data-toggle="tooltip" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a>
                            {% endif %}
                        </h3>
                        <h5 class="mt-20">Add new
                            <a class="grey-link btn-cursor" href="{{ path('finance.entities.create') }}" data-toggle="tooltip" title="Add"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                        </h5>
                        <br/>
                        {% for transaction in  transactions %}
                            {% if transaction.category.slug == category.slug %}
                                <h5>{{transaction.name}} {% if category.slug=='account' %} - {{transaction.currency}} {% endif %}
                                    <a class="grey-link btn-cursor" href="{{ path('finance.entities.update',{'id':transaction.id}) }}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a class="grey-link btn-cursor" href="{{ path('finance.entities.delete',{'id':transaction.id}) }}" onclick="return confirm('are u sure?')" data-toggle="tooltip" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </h5>
                                {% if transaction.childEntities %}
                                    {% for child in transaction.childEntities %}
                                        <h5 class="child-account"> - {{child.name}} {% if category.slug=='account' %} - {{child.currency}} {% endif %}
                                            <a class="grey-link btn-cursor" href="{{ path('finance.entities.update',{'id':child.id}) }}" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                            <a class="grey-link btn-cursor" href="{{ path('finance.entities.delete',{'id':child.id}) }}" onclick="return confirm('are u sure?')" data-toggle="tooltip" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a>
                                        </h5>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if loop.index % 4 == 0 %}
                        </div>
                        <div class="clearfix"></div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-2">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GENERAL_MANAGER') %}
                {% include 'AppBundle::Finance/managerMenu.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}

