<tr class="{% if transaction.status %}transaction-{{ transaction.status.name }}{% endif %}
                {% if transaction.archive %}soft-deleted{% endif %}" id="transaction-{{ transaction.id }}">
    <td>
        {% if transaction.type == 'expense' %}
            <span class="fa-stack fa-lg">
                  <i class="fa fa-minus fa-stack-1x"></i>
                  <i class="fa fa-circle-thin fa-stack-2x text-danger"></i>
                </span>
        {% elseif transaction.type == 'transfer' %}
            <span class="fa-stack fa-lg">
                  <i class="fa fa-arrows-h fa-stack-1x"></i>
                  <i class="fa fa-circle-thin fa-stack-2x text-warning"></i>
                </span>
        {% elseif transaction.type == 'income' %}
            <span class="fa-stack fa-lg">
                  <i class="fa fa-plus fa-stack-1x"></i>
                  <i class="fa fa-circle-thin fa-stack-2x text-success"></i>
                </span>
        {% endif %}

    </td>
    <td>

    </td>
    <td>
        {{ transaction.id }}
    </td>
    <td>
        {{ transaction.date|date("m/d/Y") }}
    </td>
    <td class="text-right {% if transaction.type == 'transfer' %}double-line{% endif %}">
        {% if transaction.type == 'expense' %}
            <span class="text-expense">- {{ transaction.sourceAmount |number_format(2, '.', ',') }}</span>
        {% elseif transaction.type == 'transfer' %}
            <span class="text-expense">- {{ transaction.sourceAmount |number_format(2, '.', ',') }}</span>
            <hr/>
            <span class="text-income">+ {{ transaction.destinationAmount |number_format(2, '.', ',') }}</span>
        {% elseif transaction.type == 'income' %}
            <span class="text-income">+ {{ transaction.destinationAmount |number_format(2, '.', ',') }}</span>
        {% endif %}
    </td>
    <td class="{% if transaction.type == 'transfer' %}double-line{% endif %}">
        {% if transaction.type == 'expense' %}
            {{ transaction.sourceCurrency |upper }}
        {% elseif transaction.type == 'transfer' %}
            {{ transaction.sourceCurrency |upper }}
            <hr/>
            {{ transaction.destinationCurrency |upper }}
        {% elseif transaction.type == 'income' %}
            {{ transaction.destinationCurrency |upper }}
        {% endif %}
    </td>
    <td class="text-left double-line">
        {% if transaction.type == 'expense' %}
            {{ transaction.source.name }}
            <hr/>
            {{ transaction.destination.category.name }}
        {% elseif transaction.type == 'transfer' %}
            {{ transaction.source.name }}
            <hr/>
            {% if transaction.destination.parentEntity is not null %}
                {{ transaction.destination.parentEntity.name }}
            {% else %}
                {{ transaction.destination.name }}
            {% endif %}
        {% elseif transaction.type == 'income' %}
            {{ transaction.destination.category.name }}
            <hr/>
            {{ transaction.destination.name }}
        {% endif %}
    </td>
    <td class="text-left">
        {{ transaction.description }}
    </td>
    <td class="text-left double-line">
        {% if transaction.type == 'expense' %}
            {{ transaction.destination.name }}
            <hr/>
            {% if transaction.destination.category.slug == 'studio' %}
                {% for studio in transaction.studios %}
                    {{ studio.name }}{% if loop.length>1 and not loop.last %}, {% endif %}
                {% endfor %}
            {% elseif transaction.destination.category.slug == 'shoot' %}
                {% for shoot in transaction.shoots %}
                    {{ shoot.name }}{% if loop.length>1 and not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
        {% elseif transaction.type == 'transfer' %}
            {% if transaction.destination.parentEntity is not null %}
                {{ transaction.destination.name }}
                <hr/>
            {% endif %}
        {% elseif transaction.type == 'income' %}
            {{ transaction.destination.name }}
        {% endif %}
    </td>
    <td>
        {{ transaction.owner.username }}
    </td>
    <td class="text-left double-line">
        {% if transaction.type == 'expense' %}
            {{ transaction.currentBalanceSource }}
            <hr/>
        {% elseif transaction.type == 'transfer' %}
            {{ transaction.currentBalanceSource }}
            <hr/>
            {{ transaction.currentBalanceDestination }}
        {% elseif transaction.type == 'income' %}
            {{ transaction.currentBalanceDestination }}
        {% endif %}
    </td>
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GENERAL_MANAGER') %}
        <td>
            <a onclick="updateTransactionStatus('approved','{{ transaction.id }}')"
               class="{% if transaction.status and transaction.status.name=='approved' %} hidden {% endif %} grey-link btn-cursor"
               data-toggle="tooltip" title="Approve"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a onclick="updateTransactionStatus('declined','{{ transaction.id }}')"
               class="{% if transaction.status and transaction.status.name=='declined' %} hidden {% endif %} grey-link btn-cursor"
               data-toggle="tooltip" title="Decline"><i class="fa fa-square" aria-hidden="true"></i></a>
            <a onclick="return confirm('are u sure that you want to delete?')?deleteTransaction('{{ transaction.id }}'):''"
               class="grey-link btn-cursor"
               data-toggle="tooltip" title="Delete"><i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <a href="{{ path('finance.edit',{'id':transaction.id}) }}" class="grey-link btn-cursor"
               data-toggle="tooltip" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            {% if transaction.archive %}
                <a class="grey-link btn-cursor" href="{{ path('finance.restore.deleted',{'id':transaction.id}) }}"
                   onclick="return confirm('are u sure?')" data-toggle="tooltip"
                   title="Restore soft deleted transaction"><i class="fa fa-reply" aria-hidden="true"></i>
                </a>
            {% else %}
                <a class="red-link btn-cursor" href="{{ path('finance.soft.delete',{'id':transaction.id}) }}"
                   onclick="return confirm('are u sure?')" data-toggle="tooltip" title="Soft Delete"><i
                            class="fa fa-times" aria-hidden="true"></i>
                </a>
            {% endif %}
        </td>
    {% endif %}
</tr>
