{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container mt-40">
        <div class="col-sm-10">
            <h3>Update {{ transactionEntity.name }}</h3>
            <div class="row">
                <div class="col-xs-6">
                    <form method="POST">
                        <div class="form-group">
                            <label >Name</label>
                            <input type="text" name="name" value="{{ transactionEntity.name }}" class="form-control"
                                   aria-describedby="basic-addon1" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label >Category</label>
                            <select class="form-control" name="category" onchange="transactionEntityCategoryChanged(this)">
                                {% for category in entityCategory %}
                                    <option data-slug="{{category.slug}}" {% if transactionEntity.category.id==category.id %} selected {% endif %} value="{{category.id}}">{{category.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="dropdown-currency" class="form-group {% if transactionEntity.category.slug!='account' %} hidden {% endif %}">
                            <label >Currency</label>
                            <select class="form-control" name="currency">
                                <option {% if transactionEntity.currency=="USD" %} selected {% endif %} value="USD">USD</option>
                                <option {% if transactionEntity.currency=="EUR" %} selected {% endif %} value="EUR">EUR</option>
                                <option {% if transactionEntity.currency=="RSD" %} selected {% endif %} value="RSD">RSD</option>
                            </select>
                        </div>
                        <div id="dropdown-agency" class="form-group {% if transactionEntity.category.slug!='agency' %} hidden {% endif %}">
                            <label >Agency</label>
                            <select class="form-control" name="agency">
                                {% for agency in agencies %}
                                    <option {% if selectedAgency and selectedAgency.id==agency.id %} selected {% endif %} value="{{agency.id}}">{{agency.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="dropdown-shoot" class="form-group {% if transactionEntity.category.slug!='shoot' %} hidden {% endif %}">
                            <label >Folder</label>
                            <select class="form-control" name="folder">
                                {% for folder in folders %}
                                    <option {% if selectedAgency and selectedAgency.id==folder.id %} selected {% endif %} value="{{folder.id}}">{{folder.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="check-parent" class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" {% if transactionEntity.parent %} checked {% endif %} name="parent" onchange="parentChanged(this)" >Is parent</label>
                            </div>
                        </div>
                        <div id="dropdown-parent" class="form-group {% if transactionEntity.parent %} hidden {% endif %}">
                            <label >Select Parent</label>
                            <select class="form-control" name="parent_selected">
                                <option value="">No Parent</option>
                                {% for entity in parentEntities %}
                                    <option {% if transactionEntity.parentEntity and transactionEntity.parentEntity.id==entity.id %} selected {% endif %} value="{{entity.id}}">{{entity.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="check-displayStatement" class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" {% if transactionEntity.displayStatement %} checked {% endif %} name="displayStatement" >Display Statement</label>
                            </div>
                        </div>
                        <div id="dropdown-owner" class="form-group">
                            <label >Owner</label>
                            <select class="form-control" name="owner">
                                {% for owner in owners %}
                                    <option {% if transactionEntity.owner and transactionEntity.owner.id==owner.id %} selected {% endif %} value="{{owner.id}}">{{owner.username}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label >Position</label>
                            <div class="checkbox">
                                <label><input type="checkbox" {% if "income-source" in transactionEntity.position %} checked {% endif %} value="income-source" name="position[]" >Income Source</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" {% if "income-destination" in transactionEntity.position %} checked {% endif %} value="income-destination" name="position[]" >Income Destination</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" {% if "transfer-source" in transactionEntity.position %} checked {% endif %} value="transfer-source" name="position[]" >Transfer Source</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" {% if "transfer-destination" in transactionEntity.position %} checked {% endif %} value="transfer-destination" name="position[]">Transfer Destination</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" {% if "expense-source" in transactionEntity.position %} checked {% endif %} value="expense-source" name="position[]">Expense Source</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" {% if "expense-destination" in transactionEntity.position %} checked {% endif %} value="expense-destination" name="position[]">Expense Destination</label>
                            </div>
                        </div>
                        <div id="dropdown-shared" class="form-group">
                            <label>Users how have access</label>
                            <select name="shared_users[]" multiple="multiple" class="form-control">
                                {% for owner in owners %}
                                    <option {% if usersWithAccess and owner.id in usersWithAccess|keys %} selected {% endif %} value="{{owner.id}}">{{owner.username}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Save" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GENERAL_MANAGER') %}
                {% include 'AppBundle::Finance/managerMenu.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/finance/finance.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
	<script>
		parentEntities = new Array();
		{% for parent in allParentEntities %}
		parentEntities.push({"category": {{ parent.category.id}}, "name": "{{ parent.name }}", "value": {{ parent.id }}});
		{% endfor %}
		//document.getElementsByTagName("body")[0].addEventListener("load", populateParentByCategory());
	</script>
{% endblock %}



