{% extends 'AppBundle::base.html.twig' %}
{% block extrastylesheets %}
    {% stylesheets
    '@AppBundle/Resources/public/modules/finance/finance.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        {% include 'AppBundle::Finance/transactionList.html.twig' %}
    </div>
    {# CHOOSE TRANSACTION TYPE #}
    <div class="row t-type-container" style="display:none">
        <div class="col-sm-1">
            <a class="white-link btn-cursor" onclick="showTransactionForm('expense')" >Expense</a>
        </div>
        <div class="col-sm-1">
            <a class="white-link btn-cursor" onclick="showTransactionForm('transfer')"  >Transfer</a>
        </div>
        <div class="col-sm-1">
            <a class="white-link btn-cursor" onclick="showTransactionForm('income')" >Income</a>
        </div>
    </div>
    {# ADD NEW TRANSACTION FORM #}
    <div class="row t-form-container expense" >
        <div class="row head">
            <div style="width: 100px" class="col-sm-1">Type</div>
            <div style="width: 30px"  class="col-sm-1">#</div>
            <div style="width: 80px"  class="col-sm-1">Date</div>
            <div style="width: 80px"  class="col-sm-1">Value</div>
            <div style="width: 70px"  class="col-sm-1">Currency</div>
            <div style="width: 200px"  class="col-sm-2">Source/Destination</div>
            <div class="col-sm-2">Description</div>
            <div style="width: 200px" class="col-sm-1">Info</div>
            <div style="width: 200px" class="col-sm-1">Statement</div>
            {#<div class="col-sm-1 pull-right"><a class="white-link btn-cursor" onclick="hideTransactionForm()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Cancel</a></div>#}
        </div>
        <div class="row form">
            <form onsubmit="submitNewTransaction(event,this)">
            <div style="width: 100px"  class="col-sm-1">
                <select class="form-control" required name="type" onchange="updateTransactionType()">
                    <option value="expense" >Expense</option>
                    <option value="transfer" >Transfer</option>
                    <option value="income" >Income</option>
                </select>
            </div>
            <div style="width: 30px" class="col-sm-1">
                {% if transactions is defined %}
                {% set lastNumber = transactions|length + 1 %}
                    {{ lastNumber }}
                {% else %}
                    1
                {% endif %}
            </div>
            <div style="width: 80px" class="col-sm-1">
                <input type="text" name="date" required  class="form-control f-datepicker"  value="{{ "now"|date("m/d/Y") }}">
            </div>
            <div style="width: 80px" class="col-sm-1">
                <input type="text" step="any" name="source_amount" id="source_amount" min="0" class="form-control" >
                <input type="text" step="any" name="destination_amount" id="destination_amount" min="0" class="form-control" >
            </div>
            <div style="width: 70px" class="col-sm-1">
                <select class="form-control select-source-currency" name="source_currency">
                    <option value="usd" >USD</option>
                    <option value="eur" >EUR</option>
                    <option value="rsd" >RSD</option>
                </select>
                <select class="form-control select-destination-currency" name="destination_currency">
                    <option value="usd" >USD</option>
                    <option value="eur" >EUR</option>
                    <option value="rsd" >RSD</option>
                </select>
            </div>
            <div style="width: 200px" class="col-sm-2 source-destination-container">
                <select class="form-control select-source-category hidden" name="source-category"  onchange="updateSourceOptions(this);">
                </select>
                <select class="form-control select-source" name="source"  onchange="disableSourceDestination(this);updateCurrencyDropdown(this);showStatement(this)">
                </select>

                <select class="form-control select-destination-category hidden" name="destination-category"  onchange="updateDestinationOptions(this);">
                </select>
                <select class="form-control select-destination" name="destination" onchange="disableSourceDestination(this);updateCurrencyDropdown(this);transferDestinationChanged(this);showStatement(this)">
                </select>
            </div>
            <div class="col-sm-2"><textarea class="form-control" name="description" ></textarea></div>
            <div style="width: 200px" class="col-sm-1 info-container">
                <textarea class="form-control" name="info" ></textarea>
            </div>
            <div style="width: 200px" class="col-sm-1 statement-container">
                <input class="form-control" name="statement" />
            </div>
            <div class="col-sm-1 pull-right">
                <button class="white-link btn-cursor btn-submit" type="submit"><i class="fa fa-check" aria-hidden="true"></i>
                     Save</button>
            </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/finance/finance.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        /*TODO move this to ajax*/
        // Source/destination options
        {% for option in optionsSourceDestination %}
        var dOption= {};
        dOption["id"] = "{{ option.id }}";
        dOption["name"] = "{{ option.name }}";
        dOption["category_name"] = "{{ option.category.name }}";
        dOption["category_slug"] = "{{ option.category.slug }}";
        dOption["currency"] = "{{ option.currency }}";
        dOption["is_parent"] = "{{ option.parent }}";
        dOption["display_statement"] = "{{ option.displayStatement }}";
        {% if option.owner %}
            dOption["owner"] = "{{ option.owner.id }}";
        {% endif %}
        {% if option.parentEntity %}
            dOption["parent"] = "{{ option.parentEntity.id }}";
        {% endif %}
        {% if option.users %}
            var accessUsers = [];
            {% for accessUser in option.users %}
                accessUsers.push('{{accessUser.id}}')
            {% endfor %}
            dOption["accessUsers"] = accessUsers
        {% endif %}
        var positions = [];
        {% for position in option.position  %}
        positions.push('{{ position }}');
        {% endfor %}
        dOption["positions"] = positions;
        dropdownOptions.push(dOption);
        {% endfor %}
        {% if shootings is defined %}
            {% for shooting in shootings %}
                var singleShooting= {};
                singleShooting['id'] = "{{shooting.id}}";
                singleShooting['name'] = "{{shooting.name}}";
                shootings.push(singleShooting)
            {% endfor %}
        {% endif %}
        {% if studios is defined %}
            {% for studio in studios %}
                var singleStudio= {};
                singleStudio['id'] = "{{studio.id}}";
                singleStudio['name'] = "{{studio.name}}";
                studios.push(singleStudio)
            {% endfor %}
        {% endif %}
        {% if salaryUsers is defined %}
            {% for user in salaryUsers %}
                var singleUser = {};
                singleUser['id'] = "{{user.id}}";
                singleUser['name'] = "{{user.username}}";
                usersSalary.push(singleUser)
            {% endfor %}
        {% endif %}
        current_user_id = {{ currentUser.id }}
        updateTransactionType();
    </script>
    <script>
        var sourceAmount = document.getElementById("source_amount");
        sourceAmount.addEventListener('focus', deFormatThousands);
        sourceAmount.addEventListener('blur', formatThousands);
        var destinationAmount = document.getElementById("destination_amount");
        destinationAmount.addEventListener('focus', deFormatThousands);
        destinationAmount.addEventListener('blur', formatThousands);

        // Numeric only control handler
        $("#source_amount").forceNumericOnly();
        $("#destination_amount").forceNumericOnly();
    </script>
{% endblock %}


