<h5>Settings</h5>
<hr class="mt-none"/>
<a class="grey-link btn-cursor" href="{{ path('finance.entities.category.create')}}" data-toggle="tooltip">New Category</a><br/>
<a class="grey-link btn-cursor" href="{{ path('finance.entities')}}" data-toggle="tooltip">Finance Settings</a><br/>
<a class="grey-link btn-cursor" href="{{ path('finance.balances')}}" data-toggle="tooltip">Finance Balances All</a><br/>
<a class="grey-link btn-cursor" href="{{ path('finance.list')}}" data-toggle="tooltip">Finances</a><br/>
<a class="grey-link btn-cursor" href="{{ path('finance.export')}}" data-toggle="tooltip">Export All Transactions</a>
<hr />