<div class="container">
    <div class="row mt-20">
        <div class="col-sm-10" style="margin-bottom: 100px;">
            <h5>Incomes / Expenses</h5>
            <table class="table transactions-list table-striped">
                <tbody>
                <thead>
                <th style="width: 50px;">Type</th>
                <th style="width: 20px;">#</th>
                <th style="width: 80px;">Date</th>
                <th style="width: 130px;">Value</th>
                <th style="width: 50px;">Currency</th>
                <th>Source/Destination</th>
                <th>Description</th>
                <th>Info</th>
                <th>Statement</th>
                <th style="width: 50px">Actions</th>
                </thead>
                {% for key,transaction in transactions %}
                    <tr class="{% if transaction.status %}transaction-{{ transaction.status.name }}{% endif %}">
                        <td>
                            {% if transaction.type == 'expense' %}
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-minus fa-stack-1x"></i>
                                  <i class="fa fa-circle-thin fa-stack-2x text-danger"></i>
                                </span>
                            {% elseif transaction.type == 'transfer' %}
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-arrows-h fa-stack-1x"></i>
                                  <i class="fa fa-circle-thin fa-stack-2x text-warning"></i>
                                </span>
                            {% elseif transaction.type == 'income' %}
                                <span class="fa-stack fa-lg">
                                  <i class="fa fa-plus fa-stack-1x"></i>
                                  <i class="fa fa-circle-thin fa-stack-2x text-success"></i>
                                </span>
                            {% endif %}

                        </td>
                        <td>
                            {{ transactions|length - key  }}
                        </td>
                        <td>
                            {{ transaction.date|date("m/d/Y") }}
                        </td>
                        <td class="text-right {% if transaction.type == 'transfer' %}double-line{% endif %}">
                            {% if transaction.type == 'expense' %}
                                <span class="text-expense">- {{ transaction.sourceAmount |number_format(2, '.', ',')}}</span>
                            {% elseif transaction.type == 'transfer' %}
                                <span class="text-expense">- {{ transaction.sourceAmount |number_format(2, '.', ',')}}</span>
                                <hr/>
                                <span class="text-income">+ {{ transaction.destinationAmount |number_format(2, '.', ',')}}</span>
                            {% elseif transaction.type == 'income' %}
                                <span class="text-income">+ {{ transaction.destinationAmount |number_format(2, '.', ',') }}</span>
                            {% endif %}
                        </td>
                        <td class="{% if transaction.type == 'transfer' %}double-line{% endif %}">
                            {% if transaction.type == 'expense' %}
                                {{ transaction.sourceCurrency |upper}}
                            {% elseif transaction.type == 'transfer' %}
                                {{ transaction.sourceCurrency |upper}}  <hr/>
                                {{ transaction.destinationCurrency |upper}}
                            {% elseif transaction.type == 'income' %}
                                {{ transaction.destinationCurrency |upper}}
                            {% endif %}
                        </td>
                        <td class="text-left double-line">
                            {% if transaction.type == 'expense' %}
                                {{ transaction.source.name }}<hr/>
                                {{transaction.destination.category.name}}
                            {% elseif transaction.type == 'transfer' %}
                                {{ transaction.source.name }}  <hr/>
                                {% if transaction.destination.parentEntity is not null %}
                                    {{transaction.destination.parentEntity.name}}
                                {% else %}
                                    {{transaction.destination.name}}
                                {% endif %}
                            {% elseif transaction.type == 'income' %}
                                {{transaction.source.category.name}}<hr/>
                                {{ transaction.destination.name }}
                            {% endif %}
                        </td>
                        <td class="text-left">
                            {{ transaction.description }}
                        </td>
                        <td class="text-left double-line">
                            {% if transaction.type == 'expense' %}
                                {{transaction.destination.name}}<hr/>
                                {% if transaction.destination.category.slug == 'studio' %}
                                    {% for studio in transaction.studios  %}
                                        {{studio.name}}{% if loop.length>1 and not loop.last%}, {% endif%}
                                    {% endfor %}
                                {% elseif transaction.destination.category.slug == 'shoot' %}
                                    {% for shoot in transaction.shoots  %}
                                        {{shoot.name}}{% if loop.length>1 and not loop.last%}, {% endif%}
                                    {% endfor %}
                                {% elseif transaction.destination.category.slug == 'salary' %}
                                    {% for user in transaction.usersSalary  %}
                                        {{user.username}}{% if loop.length>1 and not loop.last%}, {% endif%}
                                    {% endfor %}
                                {% endif %}
                            {% elseif transaction.type == 'transfer' %}
                                {% if transaction.destination.parentEntity is not null%}
                                    {{ transaction.destination.name }}  <hr/>
                                {% endif %}
                            {% elseif transaction.type == 'income' %}
                                {{transaction.source.name}}<hr/>
                                {% if transaction.source.category.slug == 'studio' %}
                                    {% for studio in transaction.studios  %}
                                        {{studio.name}}{% if loop.length>1 and not loop.last%}, {% endif%}
                                    {% endfor %}
                                {% elseif transaction.source.category.slug == 'shoot' %}
                                    {% for shoot in transaction.shoots  %}
                                        {{shoot.name}}{% if loop.length>1 and not loop.last%}, {% endif%}
                                    {% endfor %}
                                {% elseif transaction.source.category.slug == 'salary' %}
                                    {% for user in transaction.usersSalary  %}
                                        {{user.username}}{% if loop.length>1 and not loop.last%}, {% endif%}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ transaction.statement }}</td>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GENERAL_MANAGER') %}
                            <td>
                                <a class="grey-link btn-cursor" href="{{ path('finance.delete',{'id':transaction.id}) }}"
                                   onclick="return confirm('are u sure?')" data-toggle="tooltip" title="Delete"><i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <a class="grey-link btn-cursor" href="{{ path('finance.soft.delete',{'id':transaction.id}) }}"
                                   onclick="return confirm('are u sure?')" data-toggle="tooltip" title="Soft Delete"><i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation text-center">
                {{ knp_pagination_render(transactions) }}
            </div>
        </div>
        <div class="col-sm-2">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GENERAL_MANAGER') %}
                {% include 'AppBundle::Finance/managerMenu.html.twig' %}
            {% endif %}
            <h5>Balance / {{ currentUser.userName }}</h5>
            <hr class="mt-none"/>
            {% for account in userAccounts %}
                <div class="text-left">
                    {{ account.name }}
                    {% if account.currency %}
                        ( {{ account.currency }} )
                    {% endif %}
                </div>
                <span class="{% if account.balance < 0 %}balance-expense{% else %}balance-income{% endif %}">
                    {{ account.balance |number_format(2, '.', ',') }}<br/>
                </span>
            {% endfor %}
            <hr/>
        </div>
    </div>
</div>
