<div class="modal fade" id="create-folder-modal" tabindex="-1" role="dialog" aria-labelledby="createFolderModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="warning-title">Create Folder</h4>
            </div>
            <div id="m-modal-error" class="alert alert-danger text-center hidden" role="alert"></div>
            <div class="modal-body">
                <div class="row mrg-btm-40">
                    <div class="col-sm-12">
                        <form onsubmit="submitCreateNewFolder(event,this)">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="hidden" class="input-f-id" name="id" value="">
                                    <input id="" type="text" name="name" class="form-control input-f-name" required placeholder="Folder title">
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-sm-10">
                                    <input id="" type="text" name="collection" class="form-control input-f-collection"  placeholder="Collection">
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-sm-10">
                                    <textarea name="description" class="form-control input-f-description" placeholder="Folder description"></textarea>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class="col-sm-10">
                                    <label >Status</label>
                                    <select class="form-control" name="status">
                                        {% for status in folderStatus %}
                                            <option value="{{status.id}}">{{status.title}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-20">
                                <div class=" col-sm-10">
                                    <button type="submit" class="btn btn-success btn-cursor">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
