{% for key,file in files %}
    <div class="col-xs-3 cw-20 mb-10">
        <div class="img-container btn-cursor" data-index="{{ key }}" onclick="selectSingleFile(this)" data-file-id="{{ file.id }}">
            <div class="img-content">
                <img id="file_{{ file.id }}" class="img-responsive main-img" src="{{ image_service.getImageThumb(file) }}" data-src="{{ file.path }}" >
            </div>
            <div class="clearfix"></div>
            {#<hr class="mb-none mt-none">#}
            <div class="row m-none">
                <div class="col-xs-12 img-caption">
                        <span>{{ file.name}}</span><br>

                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 img-users">
                    {% if file.users|length == 0 %}
                        &nbsp;
                    {% else %}
                        {% for member in file.users %}
                            {% if member.role == 'photographer' %}
                                {% image '@AppBundle/Resources/public/images/miniPhotographer.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="" />
                                {% endimage %}
                            {% elseif member.role == 'retoucher' %}
                                {% image '@AppBundle/Resources/public/images/miniRetoucher.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="" />
                                {% endimage %}
                            {% else %}
                                <i class="fa fa-user" aria-hidden="true"></i>
                            {% endif %}
                            {% if member.user %}
                                {{ member.user.username }}
                            {% else %}
                                Unknown
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
{% endfor %}