{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container-fluid ph-none">
        <table class="table table-sm files-table">
            <thead>
            <tr>
                <th class="border-none cell-action">
                    <div class="col-sm-8">
                        <h4>Shoot Editor</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <input id="input-file-search" type="text" class="form-control search"  placeholder="Search...">
                                <input id="folder-id" type="hidden" value="{{ folder.id }}" >
                            </div>
                            {#<div class="col-xs-2">#}
                                {#<i class="fa fa-clone btn-cursor" data-toggle="tooltip" title="Select / deselect all" onclick="selectAllFiles()" aria-hidden="true"></i>#}
                            {#</div>#}
                        </div>
                    </div>
                    <div class="col-sm-2 filter-icons">
                        <div class="col-xs-12 text-center top">
                            <div id="dropdown-filter" class="dropdown">
                                {% image '@AppBundle/Resources/public/images/filters.png' %}
                                <img src="{{ asset_url }}" alt="" width="" id="dLabel" class="action-icon filter-icon"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                                {% endimage %}
                                <ul class="dropdown-menu filter-dropdown" aria-labelledby="dLabel">
                                    <li>Photographers</li>
                                    {% for member in members %}
                                        {% if user_service.hasInternalRole(member,'photographer') %}
                                            <li class="option">
                                                <input type="checkbox" class="filter-photographer" data-id="{{ member.id }}" checked id="photographer_{{ member.id }}" onchange="searchFilesRequest()" > <label for="photographer_{{ member.id }}">{{ member.username }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="option">
                                        <input type="checkbox" class="filter-photographer" data-id="0" checked id="photographer_0" onchange="searchFilesRequest()" > <label for="photographer_0">Unknown</label>
                                    </li>
                                    <li>Retouchers</li>
                                    {% for member in members %}
                                        {% if user_service.hasInternalRole(member,'retoucher') %}
                                            <li class="option">
                                                <input type="checkbox" class="filter-retoucher" data-id="{{ member.id }}" checked id="retoucher_{{ member.id }}" onchange="searchFilesRequest()" > <label for="retoucher_{{ member.id }}">{{ member.username }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="option">
                                        <input type="checkbox" class="filter-retoucher" data-id="0" checked id="retoucher_0" onchange="searchFilesRequest()" > <label for="retoucher_0">Unknown</label>
                                    </li>
                                    {#<li>Collection</li>#}
                                    {#{% for collection in collections %}#}
                                        {#<li class="option">#}
                                            {#<input type="checkbox" checked class="filter-collection" data-name="{{ collection }}" id="collection_{{ collection }}" onchange="searchFilesRequest()"> <label for="collection_{{ collection  }}">{{ collection }}</label>#}
                                        {#</li>#}
                                    {#{% endfor %}#}
                                    <li>Date Range</li>
                                    <li class="option date-range">
                                        <input type="text" id="filter-date-from" class="form-control date datepicker" onchange="searchFilesRequest()" value="01/01/2011"> <div class="separator"> - </div>
                                        <input type="text" id="filter-date-to" class="form-control date datepicker" onchange="searchFilesRequest()" value="{{ "now"|date("d/m/Y") }}">
                                    </li>
                                    <li class="mt-10">Sort by</li>
                                    <li class="option order-option active" onclick="updateOrderBy(this,'name')">Name</li>
                                    <li class="option order-option" onclick="updateOrderBy(this,'recent')" >Recently added</li>
                                    <li class="mt-10">File Type</li>
                                    <li class="option order-option" onclick="updateFileType(this,'video')">Display Videos</li>
                                    <li class="option order-option" onclick="updateFileType(this,'photo')">Display Photos</li>
                                    <li><strong><a class="pull-right btn-cursor clr-filters" onclick="clearFilesFilters()">Clear Filters</a></strong></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="separator">
                        <div class="clearfix"></div>
                        <div class="col-xs-12 text-center bottom">
                            {% image '@AppBundle/Resources/public/images/selectAll.png' %}
                            <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Select / deselect all" onclick="selectAllFiles()"/>
                            {% endimage %}
                        </div>
                        </div>
                        <div class="col-sm-2 action-icons">
                            <div class="inner">
                                <div class="col-xs-12 text-center top">
                                    {% image '@AppBundle/Resources/public/images/delete.png' %}
                                    <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Delete files" onclick="deleteFiles()"/>
                                    {% endimage %}
                                </div>
                                <div class="clearfix"></div>
                                <hr class="separator">
                                <div class="clearfix"></div>
                                <div class="col-xs-12 text-center bottom">
                                    {% image '@AppBundle/Resources/public/images/download.png' %}
                                    <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Download files"  onclick="downloadFiles()"/>
                                    {% endimage %}
                                </div>
                            </div>
                        </div>
                </th>
                <th class="border-none">
                    <div class="row">
                        <div class="col-xs-3"><strong>{{ folder.name }}</strong> | {{ files|length }} images</div>
                        <div class="col-xs-9">
                            <a class="btn btn-cursor white-link" onclick="openUploadFilesDialog()">
                                {% image '@AppBundle/Resources/public/images/addImages.png' %}
                                <img src="{{ asset_url }}" aria-haspopup="true" aria-expanded="false"/>
                                {% endimage %} Add Images
                            </a>
                            <a class="btn btn-cursor white-link" onclick="markAsVideo()">
                                {% image '@AppBundle/Resources/public/images/selectAll.png' %}
                                <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Download files"/>
                                {% endimage %} Mark as video
                            </a>

                            {% if is_granted('ROLE_ADMIN') %}
                                | <a class="btn btn-cursor white-link" href="{{ path("folder.sync",{"id":folder.id}) }}">Sync</a>
                            {% endif %}
                            <a class="btn btn-cursor white-link pull-right" href="{{ path('folder.info',{'id':folder.id})}}">Shoot Info</a>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody class="file-list">
            <tr>
                <td colspan="2" class="border-none">
                    <div class="row files-list equal">
                        {% include 'AppBundle::Folder/filesList.html.twig' %}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <form class="hidden" id="frm-files-upload" onsubmit="startUploadFiles(event,this)" action="" method="POST" enctype="multipart/form-data">
        <input id="btn-files-upload" name="upload[]" type="file" multiple="multiple"  onchange="submitUploadFilesForm(event)"/>
        <input type="hidden" name="folder_id" value="{{ folder.id }}">
        <input type="hidden" name="folder_name" value="{{ folder.name }}">
        <input type="hidden" value="{{ currentUser.id }}" name="user_id">
    </form>
{% endblock %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/folder/folder_view.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

