{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container-fluid ph-none">
        <table class="table table-sm folders-table">
            <thead>
            <tr class="border-none">
                <th class="border-none cell-action ">
                    <div class="col-sm-8">
                        <h4>Shoot</h4>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="text" class="form-control search" id="folder-search" placeholder="Search...">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 filter-icons">
                        <div class="col-xs-12 text-center top">
                            <div id="dropdown-filter" class="dropdown">
                                {% image '@AppBundle/Resources/public/images/filters.png' %}
                                    <img src="{{ asset_url }}" alt="" width="" id="dLabel" class="action-icon filter-icon"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
                                {% endimage %}
                                <ul class="dropdown-menu filter-dropdown" aria-labelledby="dLabel">
                                    <li>Photographers</li>
                                    {% for member in members %}
                                        {% if user_service.hasInternalRole(member,'photographer') %}
                                            <li class="option">
                                                <input type="checkbox" class="filter-photographer" data-id="{{ member.id }}" checked id="photographer_{{ member.id }}" onchange="searchFolders()" > <label for="photographer_{{ member.id }}">{{ member.username }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="option">
                                        <input type="checkbox" class="filter-photographer" data-id="0" checked id="photographer_0" onchange="searchFolders()" > <label for="photographer_0">Unknown</label>
                                    </li>
                                    <li>Retouchers</li>
                                    {% for member in members %}
                                        {% if user_service.hasInternalRole(member,'retoucher') %}
                                            <li class="option">
                                                <input type="checkbox" class="filter-retoucher" data-id="{{ member.id }}" checked id="retoucher_{{ member.id }}" onchange="searchFolders()" > <label for="retoucher_{{ member.id }}">{{ member.username }}</label>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="option">
                                        <input type="checkbox" class="filter-retoucher" data-id="0" checked id="retoucher_0" onchange="searchFolders()" > <label for="retoucher_0">Unknown</label>
                                    </li>
                                    <li>Collection</li>
                                    {% for collection in collections %}
                                        <li class="option">
                                            <input type="checkbox" checked class="filter-collection" data-name="{{ collection }}" id="collection_{{ collection }}" onchange="searchFolders()"> <label for="collection_{{ collection  }}">{{ collection }}</label>
                                        </li>
                                    {% endfor %}
                                    <li>Date Range</li>
                                    <li class="option date-range">
                                        <input type="text" id="filter-date-from" class="form-control date datepicker" onchange="searchFolders()" value="01/01/2011"> <div class="separator"> - </div>
                                        <input type="text" id="filter-date-to" class="form-control date datepicker" onchange="searchFolders()" value="{{ "now"|date("d/m/Y") }}">
                                    </li>
                                    <li><strong><a class="pull-right btn-cursor clr-filters" onclick="clearFolderFilters()">Clear Filters</a></strong></li>
                                </ul>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <hr class="separator">
                        <div class="clearfix"></div>
                        <div class="col-xs-12 text-center bottom">
                            {% image '@AppBundle/Resources/public/images/selectAll.png' %}
                            <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Select / deselect all" onclick="selectAllFolders()"/>
                            {% endimage %}
                        </div>
                    </div>
                    <div class="col-sm-2 action-icons">
                        <div class="inner">
                        <div class="col-xs-12 text-center top">
                            {% image '@AppBundle/Resources/public/images/delete.png' %}
                            <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Delete folder" onclick="deleteFolders()"/>
                            {% endimage %}
                        </div>
                        <div class="clearfix"></div>
                        <hr class="separator">
                        <div class="clearfix"></div>
                        <div class="col-xs-12 text-center bottom">
                            {% image '@AppBundle/Resources/public/images/download.png' %}
                            <img src="{{ asset_url }}" alt="" width="" class="action-icon" data-toggle="tooltip" title="Download images from folder"  onclick="downloadFolderFiles()"/>
                            {% endimage %}
                        </div>
                        </div>
                    </div>

                </th>
                <th class="border-none">Photos</th>
                <th class="border-none">Videos</th>
                <th class="border-none">Collection</th>
                <th class="border-none">Photographers</th>
                <th class="border-none">Retouchers</th>
                <th style="width: 80px" class="border-none">Status</th>
                <th class="border-none">
                    Description
                    <a class="btn btn-cursor white-link pull-right" onclick="openNewFolderModal()">
                        {% image '@AppBundle/Resources/public/images/addImages.png' %}
                        <img src="{{ asset_url }}" aria-haspopup="true" aria-expanded="false"/>
                        {% endimage %} Add Folder
                    </a>
                </th>
            </tr>
            </thead>
            <tbody class="folder-list">
            {% include 'AppBundle::Folder/foldersList.html.twig' %}
            </tbody>
        </table>
    </div>
    {% include 'AppBundle::Folder/createFolderModal.html.twig' %}
{% endblock %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/folder/folder_list.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

