{% for folder in folders %}
    <tr data-folder-id="{{ folder.id }}">
        <td class="border-right-none">
            <div class="row">
                <div class="col-xs-8">
                    <a class="white-link folder-name" href="{{ path('folder.view',{"id":folder.id}) }}">{{ folder.name }}</a>
                    <a class="grey-link btn-cursor" data-toggle="tooltip" title="Edit folder" onclick="openEditFolderModal({{ folder.id }})"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                </div>
                <div class="col-xs-2 text-center">
                    <input type="checkbox" id="folder_{{ folder.id }}" class="folder-select" data-folder-id="{{ folder.id }}" value=""><label for="folder_{{ folder.id }}"></label>
                </div>
            </div>
        </td>
        <td><span>{{ folder.files }}</span></td>
        <td><span>{{ folder.videoFiles }}</span></td>
        <td><span class="folder-collection" >{{ folder.collection }}</span></td>
        <td>
            {% for fileUser in folder.fileUsers %}
                {% if fileUser.role == 'photographer' %}
                    {% image '@AppBundle/Resources/public/images/miniPhotographer.png' %}
                    <img src="{{ asset_url }}" alt="" width="" class="" />
                    {% endimage %}
                    {% if fileUser.user %}
                        {{ fileUser.user.username }}
                    {% else %}
                        Unknown
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for fileUser in folder.fileUsers %}
                {% if fileUser.role == 'retoucher' %}
                    {% image '@AppBundle/Resources/public/images/miniRetoucher.png' %}
                    <img src="{{ asset_url }}" alt="" width="" class="" />
                    {% endimage %}
                    {% if fileUser.user %}
                        {{ fileUser.user.username }}
                    {% else %}
                        Unknown
                    {% endif %}
                {% endif %}
            {% endfor %}
        </td>
        <td style="width: 80px"><span>{% if folder.status %} {{ folder.status.title }} {% endif %}</span></td>
        <td><span class="folder-description">{{ folder.description }}</span></td>
    </tr>
{% endfor %}