{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="container-fluid ph-none">
        <table class="table table-sm files-table">
            <thead>
            <tr>
                <th class="border-none cell-action">
                    <div class="col-sm-8">
                        <h4>Shoot Info</h4>
                    </div>
                </th>
                <th class="border-none"> </th>
            </tr>
            </thead>
        </table>
        <div class="clearfix"></div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <span class="color-orange">Shoot name:</span> {{shoot.name}}
                </div>
                <div class="col-sm-6">
                    <span class="color-orange">Date:</span> {% if shoot.details %} {{shoot.details.shootingDate |date("d/m/Y")}} {% endif %}
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-2">
                    <input id="photo" class="folder-select" value="" type="checkbox">
                    <label for="photo">Photo</label>
                </div>
                <div class="col-sm-2">
                    <input id="video" class="folder-select" value="" type="checkbox">
                    <label for="video">Video</label>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-2">
                    <span class="color-orange">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-sm-10">
                    {% if shoot.details %}
                        {% for user in shoot.users %}
                            {{ user.getUser.getUsername }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-2">
                            <span class="color-orange">Icon</span>
                        </div>
                        <div class="col-sm-9">
                            Not done
                            <span class="plus-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="color-orange">Retouch time 5h
                                <span class="plus-icon">
                                    <i data-toggle="modal" data-target="#retouchModal" class="fa fa-plus-circle" aria-hidden="true"></i>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            +2h NOT DONE
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-6">
                    <span class="color-orange">Number of images:</span>  {% if shoot.details %} {{shoot.details.photosNumber}} {% endif %}
                </div>
                <div class="col-sm-6">
                    <span class="color-orange">Agency:</span>  {% if shoot.details %} {{shoot.details.agency.name}} {% endif %}
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-sm-12">
                    Expenses: <br/>
                    <table class="table transactions-list table-striped">
                        <tbody>
                        <thead>
                        <th>Description</th>
                        <th>Currency</th>
                        <th>Value</th>
                        <th>Category</th>
                        <th>User</th>
                        </thead>
                        {% for key,transaction in shoot.expenses %}
                            <tr>
                                <td class="text-left">
                                    {{ transaction.description }}
                                </td>
                                <td class="text-center">
                                    {{ transaction.sourceCurrency }}
                                </td>
                                <td class="text-right {% if transaction.type == 'transfer' %}double-line{% endif %}">
                                    {% if transaction.type == 'expense' %}
                                        <span class="text-expense">- {{ transaction.sourceAmount |number_format(2, '.', ',')}}</span>
                                    {% elseif transaction.type == 'transfer' %}
                                        <span class="text-expense">- {{ transaction.sourceAmount |number_format(2, '.', ',')}}</span>
                                        <hr/>
                                        <span class="text-income">+ {{ transaction.destinationAmount |number_format(2, '.', ',')}}</span>
                                    {% elseif transaction.type == 'income' %}
                                        <span class="text-income">+ {{ transaction.destinationAmount |number_format(2, '.', ',') }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-left double-line">
                                    {% if transaction.type == 'expense' %}
                                        {{ transaction.source.name }}<hr/>
                                        {{transaction.destination.category.name}}
                                    {% elseif transaction.type == 'transfer' %}
                                        {{ transaction.source.name }}  <hr/>
                                        {% if transaction.destination.parentEntity is not null %}
                                            {{transaction.destination.parentEntity.name}}
                                        {% else %}
                                            {{transaction.destination.name}}
                                        {% endif %}
                                    {% elseif transaction.type == 'income' %}
                                        {{transaction.destination.category.name}}<hr/>
                                        {{ transaction.destination.name }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{transaction.owner.username}}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <span class="plus-icon">
                                    <a href="{{ path('finance.list') }}">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr/>

        </div>


    </div>


    <div id="retouchModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Retouch time</h4>
                </div>
                <div class="modal-body">
                    <div class="row mrg-btm-40">
                        <div class="col-sm-12">
                            <form onsubmit="submitCreateNewRetouchTime(event,this)">
                                <input class="input-f-id" name="folder" value="{{ shoot.id }}" type="hidden">
                                <input class="input-f-id" name="type" value="1" type="hidden">
                                <div class="row mt-20">
                                    <div class="col-sm-10">
                                        <input id="" name="time" class="form-control input-f-collection" placeholder="Time, eg. 1h" type="text">
                                    </div>
                                </div>
                                <div class="row mt-20">
                                    <div class=" col-sm-10">
                                        <button type="submit" class="btn btn-success btn-cursor">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extrajavascript %}
    {% javascripts
    'bundles/app/modules/folder/folder_view.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

